[2015-10-06 17:12] tschaub opened #4 "Deal with rotation"
It looks like rotation should be disabled if it cannot be set on the Google Map.  Currently, if you use the rotate interaction, panning becomes weird.

Nice work on this!

[2015-10-06 17:29] adube commented on #4
That's absolutely right.  The "kinetic" pan is also something not recommended.  I'll add a note in the examples.  Thanks for reporting this.

I think I'll also add a README about those limitations, detailing each one.

[2015-10-07 18:36] adube commented on #4
This fix introduces lots of documentation about the rotation and other limitations of the library.  Again, thank you for reporting this.

[2015-10-07 18:36] #4 closed, assigned to nobody

[2015-10-20 09:48] studentitm opened #12 "Cluster Issue"
Thanks for making such a useful library.

I am trying the Openlayers 3 clustering example using this library in Google Maps.

While styling the clusters, i printed the feature object .
It prints 3 times.For first time it comes out to be undefined but right in the next two times.
This causes the following error in line (  var size = feature.get('features').length; )

Uncaught TypeError: Cannot read

[2015-10-20 12:15] adube commented on #12
Thanks for reporting this.  There may be two reasons for this:
- style functions haven't been tested yet, i.e. they are not supported at the moment.  A style has to be defined as an object for the library to be able to read it and convert it into a Google Maps style
- clusters have not been tested either yet, but that's something that could be interesting.

If you're willing to work on a PR, I'd b

[2015-10-20 12:22] adube commented on #12
For the record, this documentation page from Google Maps API would be a good start for the integration of clusters within this library: https://developers.google.com/maps/articles/toomanymarkers?hl=en

[2015-10-21 05:58] studentitm commented on #12
Thanks a lot for the answer.
I will try defining cluster style as object.

In case of image markers, they do work.But i could not hide the layer using vector.setVisible(false) function.

[2015-10-21 12:07] adube opened #13 "Google Maps data not following OL3 layer visibility"
Currently, when an OL3 vector layer visibility is unset, the data in Google Maps is still being shown.

[2015-10-21 12:07] adube commented on #12
@studentitm, I understand now.  This is a bug.  I reported this in a separate issue: #13.

[2015-10-21 12:24] studentitm commented on #13
Thanks @adube

[2015-10-21 12:57] adube commented on #13
@studentitm, would you please see if #14 fixes the issue for you ?

[2015-10-22 17:54] #13 closed, assigned to nobody

[2015-10-23 04:13] studentitm commented on #13
Thanks for the fix @adube .

[2015-10-23 12:04] adube commented on #13
You're quite welcome.  Thank you for reporting this.

[2015-11-14 16:41] yungfei1989 opened #26 "Google Zoom and point"
Dear,

I have implement your google code in my map. Why there is problems with zoom ar and point position display. Please help me to solve it.
1. when load first time with google map, there is a problem with zoom bar, but if load with another map at first time, there is not problem.
2. My marker position is different when I use google map and another map. Why it can be different. Poligon and line

[2015-11-15 12:27] adube commented on #26
Hi,

  For the zoom bar problem, try to wrap the activation of olgm around a setTimeout (it's not pretty, but should work):

[code]

About the offset if the icon, try to set an anchor and size to the style.  See this example, which demonstrates a way to make it work properly:  http://dev5.mapgears.com/ol3-google-maps/examples/icon.html

Please, let me know if that helped.

[2015-11-16 09:34] yungfei1989 commented on #26
dear adube,

All solve the problem, but for zoom bar can you find another way to solve it without set time out? Because it is weird. We don't know how long the time we need to load google. Sometimes the zoom bar still error.

[2015-11-16 13:01] adube commented on #26
For now, I don't have any more way to fix this.

[2015-11-16 14:53] christopheblin opened #27 "Problem with array styles"
As you may know, with open layers you are allowed to create an array of styles and to use it on a feature.

[code]

this is causing an issue with ol3-gm, probably inside olgm.gm.createStyleInternal because you are not handling this case.

[2015-11-16 15:04] adube commented on #27
Indeed.

I'm not sure yet, but I think Google Maps API only handles one style at a time: https://developers.google.com/maps/documentation/javascript/reference

If you have a suggestion or fix, I'd be happy to review a PR.

Thanks for you interest in OL3-Google-Maps.

[2015-11-16 16:21] christopheblin commented on #27
I plainly admit that I have no knowledge of google maps :)

I have a good knowledge of OL and that's how I trace the problem to the styles array.

For the moment, I think the fix is to keep only the first element of the array

[2015-11-16 16:28] adube commented on #27
I understand.  This is a reasonable limitation.

Would you be interested in creating a PR adding this limitation to the current list ? https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md

[2015-11-17 07:36] christopheblin commented on #27
Updating wiki with PR https://github.com/mapgears/ol3-google-maps/pull/29

[2015-11-17 07:38] christopheblin commented on #27
I will try to do the PR on the JS part.

[2015-12-06 15:58] tds4u opened #30 "Add mapObject like in OL2"
For a working routing application we need access to the former mapObject variable. Can you add such a function so that from the layer object we can receive the Google Maps object?

---

baseMap = new olgm.layer.Google({
    title: "Google", name: "google", visible: true
});
baseMap->getMapObject(); OR baseMap->getGoogleObject();

[2015-12-07 14:13] adube commented on #30
Actually, in ol3 there is no way to get the map in which a layer is added from a layer.

You should be able to easily have access to your ol3 map in your app.  For the Google Maps map coming from OLGM, it would need to be exposed with a getter method, as you suggest, but I'd add it to the `olgm.OLGoogleMaps`.  If you're willing to work on a PR, I'd gladly review it.

[2015-12-08 09:14] tds4u commented on #30
Trying to compile but:

[code]

Which additional libraries are needed?
//edit: git clone --recursive https://github.com/mapgears/ol3-google-maps.git ;-)

Next error:

[code]

//edit: sudo apt-get install default-jre

Hope I can help somebody with this to resolve such problems.

[2015-12-08 13:01] adube commented on #30
You need to install the dev environment, which is the same as ol3-cesium: https://github.com/openlayers/ol3-cesium#building-the-library

HTH

[2015-12-09 09:44] tds4u commented on #30
So, with debug js all is functional like in OL2. I can access it via olGM.gmap and olGM is

[code]

But when using minified js then the .gmap and also .get("gmap" ) ist not available. I'm new to this obfuscation. Please help.

[2015-12-09 13:00] adube commented on #30
Methods that contain `@api` in their comment block are exported in the minimized build version.  I.e., those method become available.

`.gmap` is a protected property, so only the class where it was created and its child classes can access it.  Because of that, it gets automatically renamed in the minimized version by the `Closure Compiler`,

The way I suggest to make it available is to create a p

[2015-12-10 13:39] adube commented on #26
FYI, an [issue](https://github.com/openlayers/ol3/issues/4494) has been filed within the OL3 project itself which fits the description of the issue you're having (and that I also had).  I'll keep an eye on it as it may as well fix our issue, here.

[2015-12-10 13:40] adube commented on #27
@christopheblin feel free to report any progress you may have done.

[2015-12-16 14:30] fatihalp opened #32 "Mobile Performance problem with OL3 and Google Maps"
It's perfect extension for OL3 thanks a lot! But when I navigate with mobile browser it's not smooth like OL3. Is there anything to do for it?

http://dev5.mapgears.com/ol3-google-maps/examples/simple.html

Check it from offical demo

[2015-12-16 15:09] adube commented on #32
Hi,

I see can see a difference, but you'll need to be more specific.  What type of mobile device are you using ?  What OS ?  What are the exact differences you're experiencing ?  You description is currently too vague.

Any contribution or fix would be welcome.  I'd be happy to review a PR if you provide one.

Thanks for your interest in OL3-Google-Maps !

[2015-12-16 15:23] fatihalp commented on #32
Hi Alexandre, thanks for your fast reply! :)
I've tried different models of Android (6.0), iOS (9.1) and tablets
Pinch (in-out) is not working for either of them. Although in OL3 is working.

[2015-12-16 15:54] adube commented on #32
Hi,

For me, the pinch in and out action end up making the map zoom in and out, but while doing so the map doesn't budge. That's normal.  It's a limitation.  Let me explain.

OL3-Google-Maps puts an ol3 map on top of google-maps.  The interactions are all managed by ol3, not google maps.  So, while pinching, ol3 view center/resolution are not changing.  It only occurs when you stop pinching.  The

[2015-12-21 12:27] fipp opened #33 "Errors using the make command"
When I run `make`, i get a help page with a list of commands, e.g. `make dist`. When I try `make dist` which does _"Create a distribution for the library (dist/ol3gm.js)"_ (from the help page), the command fails:

[code]

And quite right, `ol3/tasks/generate-externs.js` does not exist. In fact, the `ol3` folder is empty.

Am i doing something wrong here, or is the make tools broken?

[2015-12-21 13:00] adube commented on #33
Try tu run `git submodule update --init --recursive`, then retry.

Please, let me know if that works for you.  I would update the README accordingly.

[2015-12-22 08:24] fipp commented on #33
Thank you! Yes I realized after a while that there were something special about the ol3 folder. I didn't know what submodules was at that time. Learning this, I tried to do a `git clone https://github.com/openlayers/ol3` (standing in the ol3-google-maps repository) but then `git status` displayed `modified:   ol3 (new commits)`. And trying to do a `make dist` with these new commits in the ol3 repo

[2015-12-22 08:53] fipp commented on #33
By the way, my latest issue (the "copying extracted folder" for phantomjs) seems to be the same as this issue: https://github.com/filamentgroup/grunt-criticalcss/issues/33

[2015-12-22 09:53] fipp commented on #33
Hope I'm not complicating the issue too much, but I tried to fire up a Ubuntu VM (Vagrant/VirtualBox with image ubuntu/trusty64), did `apt-get update`, `apt-get upgrade` and `apt-get install git nodejs npm`. Then I cloned ol3-google-maps, initialized the ol3 submodule and did a `make dist` (not with root) but it did also fail, but with an error this time:

[code]

Last 10 lines of `ol3/npm-debug.l

[2015-12-22 13:01] adube commented on #33
Mmm, not sure what the issue here is yet.  I'll have to try with a fresh VM as well and attempt to follow the readme to see if there's a step that has been forgotten.

I won't have the time to try this in the next couple days.  Here's a wild guess you could do in the meantime: delete the `node_modules` from the root directory and also the one in `ol3`, then try again.  If you're lucky, that could

[2015-12-22 13:24] fipp commented on #33
No biggie. I just downloaded the already compiled files from one of the examples, and I'm using them until I manage to compile correctly.

[2015-12-22 13:27] adube commented on #33
All right.

FYI, you can download the source code from the official releases here: https://github.com/mapgears/ol3-google-maps/releases.

[2015-12-29 09:48] fatihalp commented on #32
@adube Just you explained it's appear when event is finished.

[2016-01-04 19:30] tds4u opened #35 "Z-Index and order problems of rendering in layer collection"
Hello,

please look at https://www.dreiharden.net/proxy/maps/dreiharden/

Change base map at top right to "Luftbild" and you'll see that the vector layer for POIs is now under all other layers. Clicking back to normal base map "Karte" all things are fine.

index 5, name markerpois, z-index 1000
index 4, name map4, z-index 10
index 3, name map3, z-index 10
index 2, name map2, z-index 10
index 1, na

[2016-01-05 12:59] adube commented on #35
This is due to the fact that WMS layers are not yet supported by OLGM.  Would you be willing to work on this feature ?

I would also be willing to work on this on behalf of Mapgears Inc. with proper funding.  If that interests you, please contact us at info@mapgears.com and we could evaluate the efforts required.

[2016-01-08 09:28] luciman opened #36 "Limitation for OverviewMap"
Hi!

First of all thanks for your nice work.
Do you know if there's a limitation in having Google layer in the Overviewmap?
I could not succeed in doing the above in the Overview examples from ol3 examples.

Thanks a lot!
Lucian

[2016-01-08 13:17] adube commented on #36
That's an excellent question!  I have never tried it, but I'm pretty sure it's not currently possible to include an ol3 overview map that contains a google layer (i.e. a `olgm.layer.Google`). That would be a limitation that could be added to `LIMITATIONS.md`.  Would you like to write a PR describing this ?

Before doing so, you could something.  The overview map control is responsible of creating

[2016-01-12 12:08] fipp commented on #33
Hi!

Have you had any chance to look any more to this? I tried deleting the npm_modules folder in `ol3-google-maps` as well as in the `ol3` subfolder, then running `make dist` again, without success :/

[2016-01-12 13:00] adube commented on #33
Not yet.  I'll keep you in touch.

[2016-01-12 15:09] adube commented on #33
Just to let you know: I've tried twice in the past few weeks starting with a fresh VM and so far I've not been able to make it work either.  I'll try to get some help from the ol3 developers as I'm currently at a dead end in my searches.   I'll keep you in touch.

[2016-01-12 15:18] fipp commented on #33
Thank you for the update Alexandre!

[2016-01-18 14:38] fipp opened #37 "ol3-layerswitcher compability"
Hi! Has anyone here used `ol3-layerswitcher` together with `ol3-google-maps`? For some reason the google layer doesn't show correctly in my layer switcher:

<img width="323" alt="screen shot 2016-01-18 at 15 37 02" src="https://cloud.githubusercontent.com/assets/1716906/12393973/579ebce0-bdf9-11e5-9f1a-e79c3c63c43b.png">

Relevant pieces of code:

[code]

Any thoughts?

[2016-01-18 20:08] adube commented on #37
I'm pretty sure it should work properly.  Would you be willing in sharing a small example showing this on jsfiddle ? I could be able to debug from there and understand what's going on.

Thanks.

[2016-01-19 03:34] ghost opened #38 "AuthenticationService.Authenticate on Google Map"
I have two maps to be used on my site
the first map is used for editing such geometries, inserting polygons, etc.
the second map is used for viewing only and it is in a different location on the the site from the first map

BTW, im only using localhost and this is what the AuthenticationSerivce.Authenticate

[code]

P.S.
Sorry if this lacks, but i can edit this. My first time seeking help on githu

[2016-01-19 08:13] fipp commented on #37
Hi adube and thank you for answering swiftly! Here's a jsfiddle: https://jsfiddle.net/penn/swn6q0vs/5/

I referenced ol3-google-maps v0.3-12-gca50c71 from https://dev5.mapgears.com/ol3-google-maps/dist/ol3gm.js since I'm not able to build it (https://github.com/mapgears/ol3-google-maps/issues/33).

Cheers

[2016-01-19 13:47] adube commented on #37
Okay, I know what's wrong.  It's indeed a OLGM issue.  The `olgm.layer.Google` extends from `ol.layer.Group`.  In `ol.control.LayerSwitcher.prototype.renderLayer_`, it checks `if (lyr.getLayers)`, which returns `true` in the case of a Google layer since it extends from a Group layer.

I would make sense to make it inherit from `ol.layer.Base` instead.  If you're willing to work on a PR, it would b

[2016-01-19 13:49] adube commented on #38
Hello there.  Thanks for your interest in olgm.

I'm not sure I understand what you're asking.  Would you please elaborate more ?  If you're facing an issue, it would be nice if you could reproduce it in a small jsfiddle example that would demonstrate it and make it easier to debug it.

[2016-01-19 14:58] fipp commented on #37
My knowledge in OpenLayers is still not mature, but I would be willing to submit a PR for this yes, as soon as I can get building to work. I have been tasked with implementing Google Maps as an additional base layer in the OpenLayers application for a client, and I would rather not deliver a solution containing local hacks that has to be taken into consideration when upgrading in the future.

Chee

[2016-01-19 15:30] adube commented on #37
I understand.  Let us know how your progress goes.

[2016-01-19 21:23] adube commented on #33
Here's more news on this front.  With the help of a core dev of ol3, I was able to make the build work.  I'll start over in order to write clean steps on how to make it work from scratch.  If you want, I could also share the end result, i.e. a VirtualBox VM.  You'd be able to clone your own ol3-google-maps fork in it and use it to do your contributions.

What I was missing in my VMs: memory.  Turn

[2016-01-20 07:38] fipp commented on #33
If it's not too much of a hassle to you, sharing the VM sounds like a good idea to get going!

[2016-01-20 17:25] fipp commented on #33
For the record I tried to boot a ubuntu/trusty64 VM with 4GB RAM and 2 cores with VirtualBox and Vagrant. What I did:

[code]

You'll see I did `make dist` multiple times. After the first invocation, I aborted manually because the script seemed stuck at this point:

[code]

At the second invocation, I needed to install `closure-util`:

[code]

Then on the 3rd and 4th, I got this:

[code]

Then, se

[2016-01-20 18:19] adube commented on #33
@fipp I got stucked at that place too.  I tried upgrading ol3 to v3.12.1 (I also tried v3.13.0) and that issue is gone.  I'm now facing other kinds of issues, which I'm currently asking for help on the ol3-dev mailing list.  I'm looking forward to receive an answer from the ol3 devs.

Bottom line, we'll have to upgrade the ol3 to a newer version within ol3-google-maps. I'll take care of it after I

[2016-01-21 09:15] fipp commented on #33
Hooray! I got it to work using OpenLayers v3.10.1 which ol3-google-maps points to. I figured that I might try to install java after looking at the `spawn java  ENOENT` error from above. I installed Java 8. Afterwards, I destroyed the VM and re-created one (ubuntu/trusty64 with vagrant/VirtualBox). After a couple of hours of trying and failing, I came up with what seems to be a working set of steps

[2016-01-21 15:22] adube commented on #38
@brynrmrk, I got your e-mail.  Please, use this thread instead to send details about your issue.

I also noticed that you didn't explain the source of the problem.  What isn't working ?  What are you trying to accomplish ?  You can share pieces of code of what you did if you can't create a JSFiddle.

Help us help you :)

[2016-01-21 15:29] adube commented on #33
@fipp Yeah, those are the issues I hadn't talked about yet.  I plan to upgrade to the master version of ol3, i.e. past 3.13.0, as the above are being fixed as we speak in the ol3 core source code.  I expect these to be fixed by the end of the week. I'll keep an eye on that and once the fixes are made in ol3, I plan to upgrade to master in ol3-google-maps.  That should fix the issue you have been h

[2016-01-22 03:21] ghost commented on #38
Hello @adube , i haven't figured out the problem yet,
btw here's the fiddle, i'd successfully make it sorry if I emailed you because i was having trouble making a jsfiddle

Site that ol3gm does not work
http://jsfiddle.net/v3c9s4e2/7/

Site the ol3gm work
http://jsfiddle.net/L5ncnwo3/5/

i cant figure out the problem since both have AuthenticationService.Authenticate in their network console

P.S:

[2016-01-22 20:40] adube commented on #38
Hi @brynrmrk

I looked at your code it is too complex for me to quickly understand and spot where the issue is.  You either need to create a much smaller version of the application, one that is minimized to just a couple number of lines of JavaScript code where we could easily identify the problem, otherwise you could attempt to ask for Commercial Support at info@mapgears.com.

[2016-01-26 14:39] fipp opened #40 ""fraction" not supported as value for anchorXUnits/anchorYUnits in olx.style.IconOptions"
anchorXUnits/anchorYUnits value `fraction` seems to be the same as omitting `anchor`, it doesn't do anything. Is the mapping between OpenLayer controls and Google Map controls taking these parameters into consideration?

For example, with an anchor of `[10,10]` and `anchorXUnits`/`anchorXUnits` set to `fraction`, the icon the style is applied to should be placed pretty far above to the left of the

[2016-01-26 15:40] adube commented on #40
You're right.  It's not currently supported.  If you're willing to work on a PR, I'd be happy to review it.

[2016-01-27 10:16] fipp commented on #35
I'm struggeling with a problem similar to this.

Take a look at this jsfiddle, where everything works as it should: https://jsfiddle.net/penn/mLrwbtj9/
What happens is that all the coordinates inside the `coordinates` gets painted as green circles (ol.style.Circle) immediately, then another layer with red circles are painted on top, with a 100ms circle delay of every red circle painted.

Now, if I

[2016-01-27 10:20] fipp opened #41 "Layering doesn't seem to work when using ol.style.Icon instead of ol.style.Circle"
jsfiddle where everything works as it should: https://jsfiddle.net/penn/mLrwbtj9/ (note that it takes a while to load due to slow bandwith on the server (orionhub.org) hosting the assets).

What the script does is to paint all the coordinates inside the `coordinates` array as green circles (ol.style.Circle) immediately, then another layer with red circles are painted on top, with a 100ms circle de

[2016-01-28 14:51] Wgil opened #42 "Traffic Layer"
Hello, I have an application that uses OpenLayers 3 and for what Ive been searching, Google Maps is not officially supported by ol3.

is it possible to add the google traffic layer to ol3 with this library?

Someone has tried it?

Thank you in advance.

[2016-01-28 15:39] adube commented on #42
Hi @Wgil.  Thanks for your interest in OL3-Google-Maps !

It's currently not possible, but should be fairly easy to accomplish.  OL3GM creates the `google.maps.Map` object iself and currently has not mean to get it.  We could add a getter to get that map, then it should be easy to add the traffic layer thereafter.

It hasn't been tested yet.  I'd be willing to work on this, but we're currently fac

[2016-01-29 03:25] ghost commented on #38
hello @adube here is it jsfiddle of the shoretened code

Site that ol3gm does not work
http://jsfiddle.net/v3c9s4e2/10/ **WORKING NOW, REMOVED MIN- & MAX-**

Site the ol3gm work
http://jsfiddle.net/L5ncnwo3/6/ **WORKING REMOVED MIN- & MAX-**

[2016-01-29 05:40] alexbrault commented on #38
I've found the culprit(s). When you include a google layer, Google Maps takes over the container and it doesn't honour the min-height and max-height attributes in the css file (Presumable, the min- and max-width attributes might also have issues). I'm not sure whether this is an olGM bug or a Google Maps limitation; in the meantime, you can use the `height` attribute to set a fixed height

Additio

[2016-01-29 15:07] Wgil commented on #42
Hello @adube

Thanks for answering, I will be attentive with this. Tell me if you need some help.

[2016-02-01 05:35] ghost commented on #38
Hello @alexbrault

Thanks for the help, I couldn't guess that the `zoom`could be the problem since I've only tried OL3 and it accepts whatever fractional zoom I've entered. About the min- and max-, I've tried removing it and it doesn't show any error(s).

[2016-02-02 13:10] fipp opened #44 "Shift-drag and internet explorer"
Hi! OpenLayers 3 with ol3-google-maps doesn't seem to work so good in Internet Explorer 10 and 11 when using shift-drag to create "zoom boxes" in the maps. When doing so with ol3-google-maps enabled, stuff around the map are marked, have a look: (IE 10 demo)

https://v.usetapes.com/stuehmgYvX

Any pointers on what might cause this? This is a bummer for my project, as Internet Explorer (sadly) is a

[2016-02-02 13:18] adube commented on #44
Hi @fipp !  I just showed this to my colleague @jlap and she already saw this kind of behaviour in an application we develop at Mapgears.  In it, we use ol3, but we do not use ol3-google-maps yet and we were reported the exact same issue.  If we find something, we'll let you know for sure.

[2016-02-02 13:49] fipp commented on #44
Thank you @adube!

[2016-02-05 13:51] adube commented on #33
With #43 now fixed, the installation procedure is ready to be updated.  I'll do this right away.

[2016-02-05 14:11] adube commented on #33
#45 includes better installation procedure, i.e. steps for developers willing to contribute patches or new features to OL3-Google-Maps.

With this, you should no longer have any issues with the `make` command.  I'm closing this now.  Thanks for reporting this, @fipp.

[2016-02-05 14:11] #33 closed, assigned to nobody

[2016-02-05 14:13] adube commented on #37
@fipp with #43 now fixed, you can carry on with providing a patch, if you're willing to.  Please, let us know.

[2016-02-05 14:15] adube commented on #30
@tds4u Any advancement on this issue ?

[2016-02-10 13:39] PabloDesiderioFlores commented on #42
Hi, I have the same problem, I need to use google as a layer and then use the traffic layer from google too.

[2016-02-10 13:44] adube commented on #42
If you're okay with waiting, I'm still willing to work on this but my current schedule is booked for a while.  If any of you is interested in working on a Pull Request, I'd be happy to review.  Thanks!

[2016-02-19 11:31] fipp opened #46 "How to access google.maps.map object"
Hello! In the map I'm maintaining I'm using 3 google map layers, one with ordinary map type, one with satellite map type, and one with hybrid map type. For the record, I'm using ol3-layerswitcher (https://github.com/walkermatt/ol3-layerswitcher) to switch between these.

For the satellite and hybrid map type, Google supports high-res "tilted" imagery for zoom levels over a certain treshold (I beli

[2016-02-19 13:20] adube commented on #46
You could add a `getGMap` method to the `olgm.OLGoogleMaps` and mark it as `@api`.  This should be a fairly simple PR to contribute.  I'd be willing to review it, if you wish to work on this.

[2016-02-19 15:39] fipp commented on #46
I've done that now @adube :) Have a look and tell me if I've overlooked something, it was indeed a very easy fix.

[2016-02-19 22:37] IAmJulianAcosta opened #49 "Concept example not working"
Hi! I'm trying concept example but it seems that is not working!

`Failed to load resource: the server responded with a status of 404 (Not Found)
concept.js:142 Uncaught ReferenceError: olgm is not defined`

Line 89 of the HTML: `<script src="/@loader"></script>`

[2016-02-22 13:32] adube commented on #49
Hello.  Thanks for reporting this.  The issue has been fixed.  See: http://dev5.mapgears.com/ol3-google-maps/examples/concept.html
You may need to force a refresh of the page to clear your browser cache.

[2016-02-22 13:32] #49 closed, assigned to nobody

[2016-02-24 13:23] adube commented on #46
Done in #48.

[2016-02-24 13:23] #46 closed, assigned to nobody

[2016-02-24 13:24] adube opened #50 "Upgrade to OpenLayers v3.14.0"
OpenLayers v3.14.0 is out: https://github.com/openlayers/ol3/releases/tag/v3.14.0

The task at hand is to upgrade OLGM to use that version.

[2016-02-24 13:28] adube commented on #41
This requires more investigation.

[2016-02-24 13:30] adube commented on #37
@fipp Are you still facing this issue ?  If so, would you like to work on a PR ?

[2016-02-24 13:33] adube opened #51 "Support WMS layers"
The task at hand is to support WMS layers in OLGM.  The idea is to let GoogleMaps render those layers instead of OpenLayers for a perfect synchronization while interacting with the map.

The implementation needs to be discussed..

[2016-02-24 13:33] adube commented on #35
I'm marking as duplicate of #51, as that other ticket will be the one detailing a solution for this.

I'm closing this one.

[2016-02-24 13:33] #35 closed, assigned to nobody

[2016-02-24 13:35] adube commented on #32
I'm closing this one as I don't think we'll fix it.

[2016-02-24 13:35] #32 closed, assigned to nobody

[2016-02-24 13:36] adube commented on #30
Fixed in #48.

[2016-02-24 13:36] #30 closed, assigned to nobody

[2016-02-24 13:40] adube opened #52 "Support Clusters"
The purpose of this task is to be able to define cluster styling in OL3 and be able to reproduce the behaviour in GoogleMaps.

At this point, no research nor development has been made towards achieving this and it's not guaranteed  to be even possible.  The first step would be to analyse the possibility to do this and come with an implementation plan.

Opened for discussions.

[2016-02-24 13:41] adube commented on #12
I moved the task of supporting clusters in an other ticket: #52.  I'm closing this one.

[2016-02-24 13:41] #12 closed, assigned to nobody

[2016-02-26 20:12] adube commented on #42
I added an example that demonstrate the traffic layer in #53.  See it in action: http://dev5.mapgears.com/ol3-google-maps/examples/traffic.html

Until a release is made, you'll need to build your version of ol3gm or pick the one from dev5.

[2016-02-26 20:12] #42 closed, assigned to nobody

[2016-03-01 16:20] karlfloersch opened #54 "Tile Layer with XYZ Source Support"
I'm trying to layer an OpenWeatherMap tileset on top of Google Maps with limited success. I came across this repository and got excited! But I see now that listed in the [limitations](https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md) `ol.layer.Tile` is not supported.

I'm trying to use `ol.source.XYZ` as the source of the layer. What is the timeline for adding Tile support? A

[2016-03-01 16:43] adube commented on #54
Hello @karlfloersch.  Thanks a lot for your interest in OL3-Google-Maps !

To answer your questions:

There's no immediate plan to support tiles sources/layers soon.  We do intent to support WMS sources in the late summer this year, though.

That's the main purpose of OL3-Google-Maps: make Google Maps map take care of rendering the layers for a perfect synchronization while interacting with it.  T

[2016-03-04 17:52] Wgil commented on #42
Thank you very much!

[2016-03-04 18:40] karlfloersch commented on #54
Great! Thank you for your quick and complete response. That makes sense, and now I really understand the positioning of this library. Very useful.

One question though: Is there a way to add a tile layer to Google Maps using their own API? My understanding is that the closest you can get (right now) is using Leaflet with the Google Maps tileset. (https://github.com/Leaflet/Leaflet/blob/master/FAQ.

[2016-03-04 19:08] adube commented on #54
@karlfloersch There are ways to render tiles on top of Google Maps, it's just that their API doesn't make it easy.  Here's some examples that do so (all with WMS):
- http://www.gisdoctor.com/v3/openlayers_wms.html
- http://www.gisdoctor.com/v3/wms_single_complete.html
- http://www.sumbera.com/lab/GoogleV3/tiledWMSoverlayGoogleV3.htm

You can look at the source code of these examples to see how the

[2016-03-04 19:12] karlfloersch commented on #54
Awesome answer @adube . That was incredibly helpful. Thank you so much!

I actually asked this question on [StackOverflow](http://stackoverflow.com/questions/35804133/google-maps-javascript-api-with-an-openweathermap-tile-layer-overlay) a second ago, if you copy your answer there I feel it would be really helpful for people looking to do this. I've had so much trouble searching this up, I think th

[2016-03-04 19:13] adube commented on #54
What's the link ?

[2016-03-04 19:13] karlfloersch commented on #54
Just added it--sorry about that!

[2016-03-09 11:18] drupol opened #55 "Release cycle based on Openlayers versions."
Hi,

I'm the maintainer of the [Openlayers module for Drupal](https://www.drupal.org/project/openlayers).
A lot of people are requesting Google Maps layers in the module and I would like to use this library.
Could you please provide regular release of the library and their Openlayers library requirements so I can work on something ?

Thanks.

[2016-03-09 13:31] adube commented on #55
Hello @drupol. Thanks for your interest in OL3-Google-Maps!

Sure, I'll try to do a release at the same time that OL3 does. I'll let you know it goes.

[2016-03-09 13:33] drupol commented on #55
Cool, thanks ! Could you please release one that works with 3.14.2, so I can already work on this ?

[2016-03-09 13:35] adube commented on #55
I should be able to do so.  I have to speak to my boss about this first, but I don't think there should be any problem.  I'll come back to you soon (today).

[2016-03-09 13:35] drupol commented on #55
:+1:

[2016-03-09 16:02] adube commented on #55
We're okay with making releases more often (one per ol one).  I'll also do the one for 3.14.2 now.  It should be ready today.

I'd like to point out that I only intent to do one release per "major" one, i.e. if OL releases 3.15.0, I'd make one for OLGM, but I wouln't make additional ones for 3.15.1, 3.15.2, etc. as those "bug-fix" releases shouldn't affect the core of OLGM, plus OLGM isn't built w

[2016-03-09 17:02] adube commented on #55
I'm having trouble building ol3, which is required to build OLGM.  This task is currently on hold.  See: https://groups.google.com/d/msgid/ol3-dev/6ff82ce9-4bc1-49ac-a28f-f09c9668f3b8%40googlegroups.com?utm_medium=email&utm_source=footer

[2016-03-10 07:51] drupol commented on #55
:+1:

[2016-03-10 11:14] luciman commented on #36
If a new instance of olgm is created for the overview map alike:

`var olGmOvm = new olgm.OLGoogleMaps({map: this.overviewMap.getOverviewMap()});`

It works with both exemples from ol3 exemples.
However, it's not consistent from start ( as sometimes the Google layer in overview is not rendering or has another position).  By switching the baselayer at least once is working fine.

Thank you very muc

[2016-03-10 11:20] luciman opened #56 "watchVector option"
In `olgm.OLGoogleMaps`one can set the `watchVector` option.
The default is set to `true`, but if you set it to `false` and the google layer is visible the vector layers are not included in google map and the opacity of vector layers becomes 0.
I think that for the case where `watchVector` is `false` the opacity of vector layers should remain 1 or that of the initial opacity.

This (watchVector fal

[2016-03-10 13:22] adube commented on #56
Hello.

I'm not sure I fully understand.  Would you please create a JSFiddle that demonstrates the issue ?

[2016-03-10 14:30] luciman commented on #56
Sorry, now when I tried to create a simple example I saw everything is ok.
It was a mistake from me, because my map has two instances of olgm.OLGoogleMaps, one for the main map and one for the overview map and I set watchVector: false just for the main one. The vector layers get opacity 0 from the overview olgm, because both of them use the same layers.
Thanks for your promptitude and sorry for th

[2016-03-10 14:30] #56 closed, assigned to nobody

[2016-03-10 15:20] adube commented on #55
The above issue has been fixed in OpenLayers.  Now, I'm facing a new issue: https://groups.google.com/forum/#!topic/ol3-dev/SmN8uZCTVR8

I know that lots of core changes were made between 3.13 and 3.14.  It might take a while to actually do the upgrade.  I'll keep you in touch.

[2016-03-11 15:46] adube commented on #55
There you go, v0.4 is out: https://github.com/mapgears/ol3-google-maps/releases/tag/v0.4

[2016-03-11 15:46] #55 closed, assigned to nobody

[2016-03-14 14:40] drupol opened #58 "Version mismatch"
Hi,

If you download the 0.4 release, the version inside the file is: **v0.3-30-ge68acc0**

Do you think it would be possible to update the version number and correctly match the release number in releases ?

Thanks.

[2016-03-14 15:03] adube commented on #58
Sure.

[2016-03-14 15:08] adube commented on #58
Fixed.  Thanks for pointing that out.

[2016-03-14 15:08] #58 closed, assigned to nobody

[2016-03-14 18:22] adube commented on #36
Would you please provide a JSFiddle out of what you're trying to do ?  Or maybe you could create a PR with an example featuring a simple overview map that demonstrates your issue ?

[2016-03-14 18:58] antonad opened #59 "text style for Icon feature dont changed after setText()"
I created icon feature with text style and some text inside style.
Icon and label are on map.
After few second I do so:

[code]

Label on google layer stay the same, but if I choose OSM or MapQuest label disappears

[2016-03-14 19:16] adube commented on #59
Indeed, there's no herald currently watching text being changed within a style. Can you try setting a new style object instead of setting the text ?  It could be a good alternative. Otherwise, if you're willing to work on a PR to fix this, feel free to contribute.

Thanks!

[2016-03-15 06:06] luciman opened #60 "Ol3-Google-Maps v0.4 vector layer problems"
With Ol3-Google-Maps v0.4 the vector layer is not visible with OSM, also in your examples (concept, vector etc.).

[2016-03-15 12:19] adube commented on #60
A patch would be welcome.  Thanks for reporting this.

[2016-03-17 08:06] yungfei1989 opened #61 "Heat map"
Hi I use your google, why it return error when I use heat map? how to fix this error..This error not found when I disable google map...thanks

[2016-03-17 11:56] adube commented on #61
Hi.  First, thanks for your interest in OL3-Google-Maps.

Now, about your issue.  You'll need to give more information about your issue.  What is it exactly that your are trying to do ?  If you could share snippets of your code or even better create a JSFiddle out of it that demonstrates your issue ?  What is the error message ?  Please, give as much info as you can.

Help us help you!

Best regar

[2016-03-18 03:38] yungfei1989 commented on #61
Hi Adube, I want to draw heatmap in google layer...my code :

[code]

when I use google map there is error in ol.js. Openlayer can't get the feature in heatmap layer.

ol.layer.Heatmap = function(opt_options) {
}

[code]

feature is undefined and all of my code after it not running well..How the heatmap layer function can detect feature..this case only happen when I include google map use your JS.

[2016-03-18 12:17] adube commented on #61
Okay, so `ol.layer.Heatmap` inherits from `ol.layer.Vector`, therefore OLGM tries to draw it in Google Maps.  But that was never actually tested and I don't think that heatmap layers are currently supported out of the box in OLGM.  This is something that would require work.

If you're willing to work on this feature, feel free to contribute a PR.

If you're willing to fund this feature, that could

[2016-04-04 16:58] adube opened #62 "Upgrade to OpenLayers v3.15.0"
Upgrade OLGM to OL3 v3.15.0.

[2016-04-04 19:17] adube commented on #62
Currently blocked by: https://github.com/openlayers/ol3/issues/5168

[2016-04-05 14:00] jmgomezpoveda commented on #51
Would this feature enable using ol3-google-maps with ol3-cesium?

[2016-04-05 15:06] adube commented on #51
I'm not sure.  I don't know ol3-cesium well enough to be able to answer right now.  I'll see if that's possible.

[2016-04-05 17:48] #50 closed, assigned to nobody

[2016-04-05 17:50] adube opened #63 "Error when compiling for the first time"
When running `make dist` for the first time, we get the following error:

[code]

Running the same command thereafter works as expected.  It would be nice to fix this issue.

[2016-04-05 17:52] #62 closed, assigned to nobody

[2016-04-05 22:24] IsmayilAqazade opened #65 "Blackscreen when using OL3 FullScreen control with OLGM"

[2016-04-06 12:04] adube commented on #65
Could you please provide more details to this issue ?

[2016-04-06 12:13] #63 closed, assigned to nobody

[2016-04-08 14:29] IsmayilAqazade commented on #65
I solved this issue. Problem was google script url line .
I have another problem with ol3gm.
I added fullsccreen control to map.But when i click fullscreen then don't show map on windows.Windows fullscreen but it shows black screen ,like this photo:
![ol3](https://cloud.githubusercontent.com/assets/5353956/14386858/71aa3384-fd5b-11e5-84c7-8605314b2e57.png)

[2016-04-08 14:37] adube commented on #65
Could you please provide a live example, in a JSFiddle (maybe) where this issue is demonstrated ?  Also, if you're willing to work on a PR it would be nice.

[2016-04-08 16:45] IsmayilAqazade commented on #65
I solved problem this way : I have added my css file this code : `.map {
  width: 100%;
}
`
if I don't add it then I don't show another layers with fullscreen.

[2016-04-08 18:06] adube commented on #65
Glad to hear you were able to solve your issue.  I'm closing this ticket.

[2016-04-08 18:06] #65 closed, assigned to nobody

[2016-04-11 11:14] IsmayilAqazade opened #67 "search with Google place lib"
How to do google place autocomplit with this lib?

[2016-04-11 12:01] adube commented on #67
The purpose of OLGM is to make it possible to use the OpenLayers API to build a map in which you can have Google Maps layers.

You can get the Google Maps map object using the `olgm.OLGoogleMaps#getGoogleMapsMap` method and do whatever is possible to do using native Google Maps API with it.

If you would be able to create your web mapping application with only the Google Maps API, it is recommende

[2016-04-12 09:19] IsmayilAqazade commented on #67
Could you please provide a live example, in a JSFiddle ?

[2016-04-12 12:01] adube commented on #67
The following example demonstrates how to use the `olgm.OLGoogleMaps#getGoogleMapsMap` method to use the traffic layer feature of Google Maps along with OLGM: http://dev5.mapgears.com/ol3-google-maps/examples/traffic.html

See how it's done: http://dev5.mapgears.com/ol3-google-maps/examples/traffic.js

Does that answer your question ?

[2016-04-13 09:05] ibrahimnegm2011 commented on #12
Is this issue solved or not .. I need to show the number of the features in the cluster icon .. is there is any other solutions for that ?

[2016-04-13 12:02] adube commented on #12
Clusters are not supported yet.  Please, use #52 to continue this discussion.

[2016-04-13 12:06] adube opened #68 "Create an example with vector layers unmanaged"
OLGM can be configured to not "manage" vector layers, i.e. instead of making them render in Google Maps directly, they stay in OpenLayers.

This has the down-side of making the animation while zoomin in/out not synchronized between OL and GM, but for some users it may still be better than nothing.

The task at hand is to create an example featuring a vector layer not managed by OLGM.  In it, we co

[2016-05-06 04:00] Ian-Ya opened #69 "use google layer and use ol.layer.Vector"
In my project, I use a data to create point just like
http://openlayers.org/en/v3.7.0/examples/earthquake-clusters.html
when the layer is OSM or Mapquest ,which is OK.
but when I use the google layer, in create first point,
my function cannot get the feature,
so I cannot use size to create point and the text on it
Is anyone can help me
Sorry about my terror English

[2016-05-06 12:16] adube commented on #69
Clusters are not currently supported by OL3-Google-Maps.  See: #52.

[2016-05-09 02:23] Ian-Ya commented on #69
But after chrome error massage, my map will show the Clusters on the google layer,
so I have any way to let error massage not show??
I have try "try{ my Cluster function }catch(err){}","if(!feature)return"" " ,but it will show another error massage or not show any point or google`s point

[2016-05-09 10:16] Ian-Ya commented on #69
I have changed Process today and I found the error It occurred in OLGoogleMaps({ map: Map }).activate();this function. In my project, I have changed the interactions and  I use Map to save new ol.Map. So hope those massage can help you understand what is my problem.
Thx.

[2016-05-09 12:33] adube commented on #69
Clusters are not currently supported and we don't expect it to work at all for now with the default behavior of OLGM, that is: make the layers render in Google Maps instead of OpenLayers.

As an alternative, you could disable this behavior, that is: make OpenLayers render the layers, not Google Maps.  This means that clusters would work, but the synchronization between OL3 and Google Maps wouldn't

[2016-05-10 01:28] Ian-Ya commented on #69
The consequent is I want now.
Thank you so much.

[2016-05-10 12:03] adube commented on #69
Excellent.  I'll close this issue, then.  Thanks for your interest in OLGM.

[2016-05-10 12:03] #69 closed, assigned to nobody

[2016-05-10 17:35] samuellapointe commented on #60
If I understand correctly, when OL3-Google-Maps is activated, the OpenLayers vector objects are made invisible and are drawn using the google maps API on the google maps layer. Activating the OSM layer while OL3-Google-Maps is active means that the OSM layer is hiding the features rendered by google maps.

In short, there's no point in activating OL3-Google-Maps if the google maps layer isn't visi

[2016-05-10 17:38] adube commented on #60
OL3-Google-Maps can stay active, i.e. it can do its "magic", but it should only does so while a Google layer is visible.

[2016-05-16 09:12] marketingpmi opened #70 "Problem with getStroke"
Hello,
when i load for the first time my olgm map, appear in console these errors
"ol3gm.js:400 Uncaught TypeError: Cannot read property 'r' of undefined"
and
"ol3gm.js:244 Uncaught TypeError: d.getStroke is not a function"
and the dots of polygon on layer are very bigger than normal.

I think probably it's link on a centroid problem on ol.js (row 10811):
    l.Nc = function(b) {
        vp(this,

[2016-05-16 11:35] IsmayilAqazade commented on #70
the same problem
ol3gm.js:27 Uncaught TypeError: d.getStroke is not a function

[2016-05-16 12:00] adube commented on #70
Would you please provide a small demo featuring the issue, maybe with JSFiddle ?

[2016-05-16 12:18] IsmayilAqazade commented on #70
the problem is in style function.When i use style object problem solved .Why don't i use style function?

[2016-05-16 12:39] adube commented on #70
Style functions are not supported, as documented in the limitations: https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md#style-functions

There's currently no plan to support them either.

[2016-05-16 13:10] marketingpmi commented on #70
Sorry but i don't use a style object neither manipulate style.
The problem is present in this function but i don't understand why (ol3gm.js - row 239).

[code]

[2016-05-16 13:24] adube commented on #70
As I said, you can't use style functions with OLGM.  It's not currently suported to do so.  See the limitations.

[2016-05-16 13:27] marketingpmi commented on #70
Ok, thank you for your answer but problem is inside the code of ol3gm.
Can you suggest me a workaround, please?
thank you

[2016-05-16 14:55] adube commented on #70
This is not a bug.  You must not use StyleFunctions with OLGM as it is stated in the limitations.  There is no other workaround than "don't use StyleFunctions" with OLGM.  I'm sorry that I can't be of more help regarding this for now.

If you absolutely need this, then you're welcome to create a Pull Request adding this support or you can contact info at mapgears dot com if you wish to fund the de

[2016-05-25 18:10] adube opened #72 "Upgrade to OpenLayers v3.16.0"
The task at hand is this: upgrade OLGM to use OpenLayers v3.16.0.

[2016-05-25 18:11] adube opened #73 "Create v0.6 release"
Create the v0.6 release, which must include OpenLayers v3.16.0 (#72).

It would also be nice to have a documentation detailing the steps required to create a new release, either in a wiki page or in a readme file.

[2016-06-02 05:30] yungfei1989 opened #74 "OLGM Version: v0.4 google map doesn't load automatic when first loading"
Hi I have using your olgm.js v0.4, why google map doen't load automatically like the previous v.02 which I use. althought I have use your suggetion to add :+1:

`window.setTimeout(function () {
                var olGM = new olgm.OLGoogleMaps({map: map}); // map is the ol.Map instance
                olGM.activate();
            }, 1000);`

How can I get olgm.js without compiled to .min.js?

Thank

[2016-06-02 12:12] adube commented on #74
Hello.
- I don't recall v0.2 automatically loading Google Maps.  I'm not sure why you imply, otherwise
- The source code containing the minimized code is `olgm.js` and the one that's not is `olgm-debug.js`, see:
  - https://github.com/mapgears/ol3-google-maps/releases/tag/v0.4, more specifically the .zip file:
  - https://github.com/mapgears/ol3-google-maps/releases/download/v0.4/ol3-google-maps-v

[2016-06-03 19:37] samuellapointe opened #76 "Refactor olgm.herald.Layers"
The LayersHerald class is starting to get very heavy, especially with the addition of WMS layers. There are currently multiple methods that look like they could be split into a different file. For example, for each layer type we support, we have the following functions:
- watch
- unwatch
- activateCacheItem
- deactivateCacheItem

plus some handlers and cacheItems.

[2016-06-04 15:29] yungfei1989 commented on #74
hmmm...the case is when first load with switcher and google map as default map, it will show blank map until we do click in map, it will show google map, in previous version it will automatically render google map when first load map

[2016-06-06 12:10] adube commented on #74
Would you please share a demo, maybe on JSFiddle ?

[2016-06-08 19:38] adube commented on #60
#78 fixed this issue.

[2016-06-08 19:38] #60 closed, assigned to samuellapointe

[2016-06-09 19:23] samuellapointe commented on #76
Fixed with commit d18a24823babe7f722a5d01d78c34e7fbf82f33b

[2016-06-09 19:23] #76 closed, assigned to samuellapointe

[2016-06-09 19:25] samuellapointe commented on #51
WMS Support was added with commit https://github.com/mapgears/ol3-google-maps/commit/2fc99ef7bb8c5faf4c3d02b8072d65902870f327. If issues occur with this implementation, new tickets should be opened.

[2016-06-09 19:25] #51 closed, assigned to samuellapointe

[2016-06-10 12:18] samuellapointe opened #80 "Dragging a feature too far away makes it unselectable"
On the concept example, if you drag and drop one of the markers on the "repeating" maps on the sides, you can't move it anymore.

[2016-06-10 15:30] samuellapointe commented on #72
Fixed with https://github.com/mapgears/ol3-google-maps/commit/624da15d32e1de6d48730251062351db54d73d21

[2016-06-10 15:30] #72 closed, assigned to samuellapointe

[2016-06-10 15:30] samuellapointe commented on #72
Fixed with https://github.com/mapgears/ol3-google-maps/commit/624da15d32e1de6d48730251062351db54d73d21

[2016-06-14 13:17] glemaitre1 opened #83 "Not succeeding in using ol3-google-maps"
Hi everyone.

I'm trying to get a map using your library 0.6 that contain OL3, but i just cant get it worked.
Not sure this is the place to ask for help, but i'll only know it by trying si here's my problem.
I'm giving the sources to my page this way:

I load a js script of mine that countain the initialisation and stuff in order to create the map after my "div id='map'> /div>" to be sure there is

[2016-06-14 13:33] samuellapointe commented on #83
This is how I usually place my scripts in the html file:

[code]

`myScript.js` contains the code that creates the map. All these scripts are at the end of the file, just before the closing `</body>` tag. If you place your scripts in the same order, does it still happen?

[2016-06-14 13:38] glemaitre1 commented on #83
Yeah i'm putting them in the same order. I just tried with src/ol3googlemaps.js as well as src/ol3gm.js and build/build.js because i'm not sure which one i'm supposed to use.
But i just saw that i got one of the following error (must be tired to not have seen it last time):

`goog is not defined
or require is not defined`

depending on which of the three js i'm using. But isnt ol3-google-maps incl

[2016-06-14 13:46] samuellapointe commented on #83
The files in the `src` folder aren't compiled, they only include a small part of the code each and without ol3. You need to use the compiled file, which contains all of the code as well as ol3. On the [release page](https://github.com/mapgears/ol3-google-maps/releases/tag/v0.6), there's a link to the compiled version: https://github.com/mapgears/ol3-google-maps/releases/download/v0.6/ol3-google-ma

[2016-06-14 13:50] glemaitre1 commented on #83
Well i knew i was doing something horribly wrong somewhere.. you found it.
Thank you very much for your help, i was looking for my mistakes for hours now.
Sorry about the newbie threat and thanks for your time you lovely fellow!

[2016-06-14 13:51] samuellapointe commented on #83
No problem, I'm glad it works now!

[2016-06-14 13:51] #83 closed, assigned to nobody

[2016-06-15 09:11] glemaitre1 opened #85 "Trying to use proj4js with ol3-google-maps"
Hi there.

I'm using ol3-google-maps version 0.6 ands it's working just fine. I got my map and it's great.
But now i need to use proj4js (or something similar) in order to use and convert some projections (EPSG:27572 for instance) but it's not working. When i try to add a new projection to proj4, i got the following error:

I just cant get why and i didnt find any similar issue except for people u

[2016-06-15 10:30] glemaitre1 commented on #85
Looks like i was just taking a wrong file. I tried to dl it again and use the new one and everything worked out.

[2016-06-15 10:30] #85 closed, assigned to nobody

[2016-06-15 14:04] samuellapointe commented on #73
I forgot to close this, but the 0.6 release was made last week.

[2016-06-15 14:04] #73 closed, assigned to samuellapointe

[2016-06-15 18:42] samuellapointe opened #88 "Handle out of bounds coordinates sent by Google Maps"
When we're zoomed out far enough, we start to see the earth multiple times. When that happens, Google Maps checks for tiles in coordinates outside the normal earth bounds. We build a request url using these coordinates without making sure they fit in the map. This request often returns errors, such as in the XYZ layer example. The objective is to find the appropriate tile coordinate for tile coord

[2016-06-21 07:54] zorta86 opened #89 "Get RegularShape working in ol3-google-maps"
Hi,

I think it would be nice if RegularShape could be developed in order to correctly be displayed in ol3-google-maps. Actually, the RegularShape were displayed in a different z-index so the user will never see them (unfortunately).

Thanks

[2016-06-21 14:44] samuellapointe opened #91 "Update Google Maps API externs and examples"
We currently load the externs for Google Maps API v3.21, but the stable version is now at v3.24. Even when we specify to load v3.21 in the examples, it still loads v3.24, so we need to update the examples and the externs to that version. We will also need to do that for each new major stable release.

Link to the externs for each version: https://github.com/google/closure-compiler/tree/master/cont

[2016-06-22 08:36] sindrma opened #93 "Windows build support"
Hi!
I am currently working in a software firm which greatly appreciates ol3-google-maps. However, we had problems building on Windows. We fixed it by following a proposed solution discussed [here](https://www.bountysource.com/issues/2283601-building-ol-3-since-beta-5-on-windows?utm_campaign=plugin&utm_content=tracker%2F79013&utm_medium=issues&utm_source=github), which have been integrated into OL3

[2016-06-22 11:54] adube commented on #93
I like the sound of that!  Please, feel free to contribute a PR and I'll gladly review it.

[2016-06-22 11:58] adube commented on #93
FYI, the build script now includes the OpenLayers lib along with OLGM in the minimized script files.  Make sure you try with the latest version (0.6) or with the master branch.

[2016-06-22 12:16] sindrma opened #94 "OLGoogleMaps option to disable Tile, Image, and ImageWMS watchlayers"
Hi!
This is just a suggestion in case there are others out there wanting something similar.

The application my firm is working on uses Clusters and styles currently not supported by ol3-google-maps.  We, therefore, decided to disable watchlayers for Tiles, Images, and ImageWMS as we want to keep OL3 layers. Of course, this will make the OL3 layers lag during zoom and when moving around in the map

[2016-06-22 12:29] adube commented on #94
Sure, a PR would be nice.  If you could create an example demonstrating this use-case, it would be helpful too.

Thanks!

[2016-06-22 13:42] samuellapointe commented on #91
Fixed with f8a2a90e777825b0ebedb53724c08052ee914eba

[2016-06-22 13:42] #91 closed, assigned to nobody

[2016-06-23 08:56] sindrma commented on #94
A short example would be when we are creating the OLGoogleMaps object:

[code]

This disables all Google layers except the map, and allows us to keep OL3 layers on top of the Google Map. If wanted, we could create a pull request on it. Just let me know.

As mentioned, we also had to disable event listeners in featureherald.js, or more specifically in the function herald.Feature.activate:

[code]

[2016-06-23 12:12] adube commented on #94
To have the possibility to watch the type of layers that we want seems pretty cool.

`watchVector` is the option used to watch vector layers (and its features).  I think it would make sense to have 'sibling' options instead, such as `watchWMS`, `watchTile`, etc.  What do you think ?

Not sure what's going on with the features herald, but you could inspect what happens with a Dev tools debugger.  Y

[2016-06-23 15:33] samuellapointe commented on #88
Fixed with ab6a98cd96eaa0b3e34d26f36e578f503838c47a

[2016-06-23 15:33] #88 closed, assigned to nobody

[2016-06-24 11:16] sindrma commented on #94
I agree with you, you could use sibling options. Either that or change into using a `watch`-object which includes the on/off-option for each of the possible layers, as done in the code above. It would then also include the option for the vector layer.

If I get time, I will do some more investigation on why geometry change listeners does not work for us.

[2016-07-05 17:09] zerobearing2 opened #100 "Feature Request: Support rotation"
Hi-

I've read the rotate [limitation](https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md#rotation), and see that its not currently supported. I'm relatively new to Openlayers 3, and don't fully grasp the limitations with Google maps. We have an immediate need for OpenLayers, Google maps, and map rotation. Therefore, we are willing to sponsor (pay for) the solution, if someone

[2016-07-06 00:55] dmorissette commented on #100
Hi, unfortunately @adube who is the ol3-gm lead developer is on vacation for the next 2 weeks, but if you want to contact us at info@mapgears.com we can discuss options for funding the feature and make sure we have responses on the feasibility and cost as soon as @adube is back from vacation.

[2016-07-08 15:55] liriarte opened #101 "Highlighted features shifts when resizing map"
I am trying to highlight some features from a layer (ol.source.TileWMS) after drawing a box. I have found the following problem:

*) I can highlight the features (using ol.interaction.Select and pushing the selected features) but the selection does not refresh/sync/move when the map is resized (see attached screenshots, there are 2 dots highlighted in blue), and therefore ends up in the wrong plac

[2016-07-08 16:06] alexbrault commented on #101
Off the top of my head, I think this might be caused by the select interaction's unmanaged layer. I don't think the heralds currently look for those

[2016-07-08 16:19] samuellapointe commented on #101
Could you create a jsfiddle demonstrating the issue? It would make it easier to find the source of the problem. You could use [this template](http://jsfiddle.net/g40cahh3/3/)

[2016-07-11 13:13] liriarte commented on #101
I may need some time be able to create a similar example online. In the meantime I created the following jsfiddle: http://jsfiddle.net/liriarte/g40cahh3/9/

Shouldn't the map update its size and take the whole width when the div is toogled?

[2016-07-11 13:18] samuellapointe commented on #101
In your fiddle, the map is set to take 92% of the width. It will take that amount of space even if the sidebar is removed. I updated the CSS to act like a table so that it fills the space when available: http://jsfiddle.net/q8s1Lf54/

[2016-07-14 14:04] samuellapointe opened #104 "Upgrade to OpenLayers v3.17"
We should upgrade to the latest version of OpenLayers, as soon as this fix is in a release: https://github.com/openlayers/ol3/pull/5565

[2016-07-14 14:27] winnycnua opened #105 "minResolution / maxResolution limitations don't work with Google Map layer"
As I can see, minResolution / maxResolution limitations don't work with Google Map layer. It is visible always. It will be great to have this functionality.

P.S. Thanks for the good job.

[2016-07-19 14:05] luanpcweb opened #107 "Google map Hybrid"
It can show in hybrid mode?
P.S. Thanks for the good job.

[2016-07-19 14:14] adube commented on #107
Hello.  Thanks for your interest in the library.

Would you please be more specific?  What do you mean by hybrid mode?

[2016-07-19 15:38] adube commented on #89
Fixed by #108

[2016-07-19 15:38] #89 closed, assigned to nobody

[2016-07-22 19:27] samuellapointe commented on #93
Fixed with PR #95

[2016-07-22 19:27] #93 closed, assigned to nobody

[2016-07-22 19:30] #67 closed, assigned to nobody

[2016-07-22 19:34] samuellapointe commented on #41
Is this still an issue? With the recent updates, it might be fixed...

[2016-07-22 19:40] adube commented on #38
I'm closing this issue since it hasn't had any late activities,

[2016-07-22 19:40] samuellapointe commented on #54
XYZ Tile layers are supported since release v0.7 (#86)

[2016-07-22 19:40] #54 closed, assigned to nobody

[2016-07-22 19:42] adube commented on #70
I'm closing this.  See the limitations: https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md#style-functions

[2016-07-22 19:42] #70 closed, assigned to nobody

[2016-07-22 19:43] #74 closed, assigned to nobody

[2016-07-27 13:05] samuellapointe commented on #100
Hello @zerobearing2,

We implemented a workaround for the rotation issue yesterday (#109). It's not entirely perfect since we're circumventing the limitations of the Google Maps API, but it allows the map to be rotated freely with the same controls as OpenLayers 3.

I'll close the issue since it's solved, but feel free to re-open it if there's still any issues with the rotation.

[2016-07-27 13:05] #100 closed, assigned to nobody

[2016-07-27 14:31] samuellapointe commented on #105
Fixed by #110

[2016-07-27 14:31] #105 closed, assigned to nobody

[2016-07-29 14:57] samuellapointe commented on #94
Fixed with #111. The syntax isn't exactly the same as in your example; we send a `watch` object to the olGM object containing the following attributes:
- `image` for image layers, we only have imageWMS supported anyway
- `tile` for tiled layers and
- `vector` for vector layers, that one replaces the old watchVector option.

See [this file](https://github.com/mapgears/ol3-google-maps/blob/master/ex

[2016-07-29 14:57] #94 closed, assigned to nobody

[2016-07-29 14:58] samuellapointe commented on #68
PR #111 includes an example with unmanaged tile layers.

[2016-07-29 14:58] #68 closed, assigned to nobody

[2016-08-01 18:00] samuellapointe commented on #36
I've been able to add an overview map, as seen in #112. To do it, I first activated the olGM instance for the overview map, then I activated the one for the main map. It seems like loading two google maps layers at once doesn't work very well, but loading them sequentially works.

[2016-08-01 18:00] #36 closed, assigned to nobody

[2016-08-04 14:37] samuellapointe opened #114 "Refresh layers without moving the map"
We need a way to trigger a refresh for layers, that an external library would be able to call. My idea for this is to have a public `refresh` function in the OLGoogleMaps object, and transfer the call down to the herald for each layer type. This would allow pressing a button and having the layers update.

[2016-08-04 15:34] samuellapointe commented on #114
Fixed with https://github.com/mapgears/ol3-google-maps/commit/6ce5913980c71b298c8967d281c1b3a74cee22a9, although only imageWMS is supported until we need to refresh the other types.

[2016-08-04 15:34] #114 closed, assigned to nobody

[2016-08-11 13:18] samuellapointe opened #117 "Overview map example doesn't work when compiled"
When using the compiled library, the overview example doesn't work. I get the following error from the Google Maps API:

[code]

I will remove it from the website until we find a fix.

[2016-08-12 19:11] samuellapointe commented on #104
Turns out we didn't need a fix from OpenLayers' side. We're on version 3.17.1 as of the latest release (0.10.0)

[2016-08-12 19:11] #104 closed, assigned to nobody

[2016-08-22 07:31] luciman opened #120 "WMTS Layer from Capabilities"
Hi
I use a wmts layer from capabilities like in openlayers example
http://openlayers.org/en/latest/examples/wmts-layer-from-capabilities.html

Is there a limitation in ol3gm or a do something wrong?
http://jsfiddle.net/s1hth79u/1/

If osmLayer is toggled wmts layer works but with google layer don't.

Thanks

[2016-08-22 12:44] adube commented on #120
I'm not sure what's wrong.  WMTS should be supported: http://mapgears.github.io/ol3-google-maps/examples/dist/examples/wmts.html

I'll try to debug that this week in an attempt to understand what's going wrong.

[2016-08-22 13:01] luciman commented on #120
On that example it works, but if I insert the layer direct from wmts capabilities like in ol example it doesn't work. I saw in firebug the requests and I observe the tile grid of the requests is wrong.

[2016-08-25 07:39] JohnWick1234 opened #121 "Vector Layer Z index not working properly"
Hi! OpenLayers 3 with ol3-google-maps,  Zindex is setting but visibly the layer is not rendering based on this zindex over google map.

With reference to http://openlayers.org/en/v3.9.0/examples/layer-z-index.html

[2016-08-25 13:06] adube commented on #121
You're right.  That has not been taken into account, yet.  If you're willing to work on a PR, I'd be happy to review it.  Otherwise, we could add this as a limitation (for now).

Thanks for your interest in ol3-google-maps!

[2016-08-25 16:37] IsmayilAqazade opened #123 "When I use "useCanvas: true" I get Error"
![ol3gm1](https://cloud.githubusercontent.com/assets/5353956/17977650/987a32dc-6b03-11e6-942f-6368f409d27c.png)

Hi.When I use useCanvas: true I get this Error:

![ol3gm2](https://cloud.githubusercontent.com/assets/5353956/17977668/a84ffd0e-6b03-11e6-8208-eecb37895980.png)

[2016-08-25 16:53] samuellapointe commented on #123
This sounds a lot like a bug we fixed this morning... Can you try with the latest release, 0.10.2?

[2016-08-26 06:17] IsmayilAqazade commented on #123
@samuellapointe Thank, the error is solved in 0.10.2. However, I get another error now. The icons are not shown on map, when the page is refreshed.

[2016-08-26 06:59] IsmayilAqazade commented on #123
It's not pretty code ,but solved the problem:
window.setTimeout(function() {olGM.activate();
        sip.geo.zoomToCoordinate( Number(sip.model.business.getLongitude()),Number(sip.model.business.getLatitude()));
    }, 2000);

[2016-08-26 13:59] adube commented on #120
The reason it's not working is explained in the limitations, see here: https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md#custom-tilegrid-with-ollayertile

I tried to make your example working and I did by forcing my own tile grid:

[code]

HTH

[2016-08-29 05:31] trinityzhub opened #124 "Image-Style/ Render Bug"
![111](https://cloud.githubusercontent.com/assets/20397671/18041370/a31bc2b2-6dd5-11e6-8b87-e938a04b36f7.png)

if style contains image like
                                 new ol.style.Style({
                                                      image: new ol.style.Icon(/*\* @type {olx.style.IconOptions} */ ({
                                                        anchor: [0.5, 46],

[2016-08-29 12:11] adube commented on #124
Would you please try with the 0.10.2 version?  We fixed something that seems like that.

[2016-08-30 04:30] trinityzhub commented on #124
I tried in 0.10 But the map.render() is not Rendering and Style bug still in it (TypeError is only Changed from "c" to "b" ).

[2016-08-30 12:01] adube commented on #124
Have you tried with 0.10.**2**?  Also, if you could create a JSFiddle example out of this that demonstrates the issue that would help us fixing it.  Thanks!

[2016-09-03 11:58] wackari opened #126 "Google Maps Directions AP"
Hi can we use Google Maps Directions API?  o.O?

Thanks and regards

[2016-09-06 12:02] adube commented on #126
Yes, you can.  You simply need to fetch the Google Maps map object from OLGM then do what you want with it.

In this example, a Google traffic layer is added: http://mapgears.github.io/ol3-google-maps/examples/dist/examples/traffic.html

[code]

Please, let us know if that answers your question.

[2016-09-13 16:06] pcahard commented on #37
hello adube, when you create olgm.layer.Google, add the "combine" parameter, this works for me.

`
var googleLayer = new olgm.layer.Google({
      title: 'Kart (Google)',
      type: 'base',
      combine: true
    });
`

[2016-09-13 17:04] adube commented on #37
Thanks for sharing thiss, @pcahard.  I think it's safe to assume that this is no longuer an issue, so I'll close it for now.

[2016-09-14 01:12] tomn98 commented on #37
@adube Has that issue you mentioned on Jan 19 about "olgm.layer.Google extends from ol.layer.Group" been resolved yet?  You said it was best to extend from ol.layer.Base instead.  I'm pretty sure that's why my code is not working since my two layers, one of which is an olgm.layer.Google, are inside an ol.layer.Group.  Below is the relevant snippet.  The _googleLayer_Road_ layer doesn't display, bu

[2016-09-14 12:20] adube commented on #37
Oh, that's right.  I had forgotten about that.  Thanks for pointing this out.  I'll reopen this issue.

If you're willing to work on a PR, I'd be happy to review it.

[2016-09-14 23:12] tomn98 commented on #37
I'm not familiar with the ol3-google-maps code, but I went ahead and took a quick look at the source to see how I might be able to change it to inherit from ol.layer.Base.  I discovered a few roadblocks right away:
-  I'm not familiar with the Google Closure Library, so the syntax in the file googlelayer.js seems foreign to me.
- I might be wrong, but I have a feeling a change in inheritance like

[2016-09-15 13:22] adube commented on #37
I'd be interested, but my schedule is pretty much booked for a while.  You could fund this, if you're interested seeing this fixed as soon as possible.  If you do, send an email to info at mapgears dot com, refering this issue.

[2016-09-21 08:25] tsi opened #127 "Enable StreetViewControl"
https://github.com/mapgears/ol3-google-maps/blob/master/src/ol3googlemaps.js#L59

On this line `streetViewControl` is being set to false, I'd like to know how can I override that.

Here is my code:

[code]

Styles are being applied but `streetViewControl` isn't.
Thanks!

[2016-09-22 08:01] tsi commented on #127
Answering my own question -

[code]

[2016-09-22 08:03] vandertyson opened #128 "ol.Animation.Pan not working with Google Layer"
When i use **ol.Animation.Pan** with Google layer, the animation is not shown. When i call the panToPoint() function it just simply sets center of the view without any smooth flying effect. Please help. I'm using **Angular 2 and Typescript.** Here is my map initialization() and panToPoint() functions in the component.

[code]

[2016-09-22 12:01] adube commented on #127
Thanks for sharing your answer.

[2016-09-22 12:01] #127 closed, assigned to nobody

[2016-09-22 12:08] adube commented on #128
Hi @vandertyson.  Thanks for your interest in OL3-Google-Maps.

This is currently a limitation of the library.  See: https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md#kinetic-pan

The source of the problem is while the ol3 map is animating a pan, its center is not the one you see "while" the animation is in progress.  It's the one at the end of the animation.  There's currentl

[2016-09-27 08:45] IsmayilAqazade opened #129 "How to change google map projection"
I want to change  google map projection "EPSG:4326".How do it?

[2016-09-27 12:04] adube commented on #129
You can't.  Google Maps tiles only support the Google Mercator projection.

[2016-09-27 12:04] #129 closed, assigned to nobody

[2016-10-04 14:42] saurabhumalkar opened #131 "TypeError: this.setMap is not a function"
I am trying the examples, but I am getting **TypeError: this.setMap is not a function**  each time.

[2016-10-04 14:45] adube commented on #131
Are you refering to: http://mapgears.github.io/ol3-google-maps/examples/ ?  If so, I don't see any error.  Would you please give more details?

[2016-10-05 10:17] saurabhumalkar commented on #131
I downloaded examples from Github, and tried to ran it locally. That's when I received this error.

[2016-10-05 11:02] adube commented on #131
To run the examples locally, you need to setup the 'development environment'.  See: https://github.com/mapgears/ol3-google-maps/blob/master/DEVELOPING.md

You need to:
- meet the dependencies
- run `npm install`
- run `make serve`
- then visit:  http://localhost:3000/examples

HTH

[2016-10-07 07:56] glchua2 commented on #131
I also encounter this issue but for my case I am running it online.

The error occur in the following portion of ol3gm-debug.js:

`olgm.gm.PanesOverlay = function(gmap) {
  this.setMap(gmap);
}`

_updated_
It is simply my mistake for including ol3gm-debug.js before including google map api. Correcting the include order solved this problem for my case.

[2016-10-07 15:18] adube commented on #131
@glchua2 Thanks for sharing this.  That is indeed a valuable piece of information. I'll update the readme to mention this.

@saurabhumalkar Would you please try this too, i.e. include Google Maps API before OL3-Google-Maps and see if it fixes your issue too?

[2016-10-07 15:29] adube commented on #131
I added a 'Quick start' section in the README that should help regarding this.  See: https://github.com/mapgears/ol3-google-maps#quick-start

[2016-10-07 15:31] adube commented on #131
I'll assume that this fixes your issue, @saurabhumalkar.  I'm closing this.

Thanks for you interest in OL3-Google-Maps!

[2016-10-07 15:31] #131 closed, assigned to nobody

[2016-10-12 13:15] saurabhumalkar commented on #131
@adube @glchua2 including Google Maps API before OL3-Google-Maps solved the issue. Thanks.
@adube I would suggest you can add examples (with modified relative path) along with download tarball.

[2016-10-12 13:42] adube commented on #131
I prefer having only the library included within the tarball.  The addition of the Quick Start section in the README should be help getting started, plus the examples (http://mapgears.github.io/ol3-google-maps/examples/) can also be looked upon to see how to use the library.

[2016-10-12 15:11] saurabhumalkar commented on #131
It seems that if map class height css is specified in %, it does not work. For example in layout.css if I remove height attribute on map class or change it to 100%, the example stops working.

[2016-10-12 15:26] adube commented on #131
Please, start new threads (issues on Github if they're bugs or on Stack Overflow if they are usability questions) when you want have questions different to the original topic.  Thanks.

[2016-10-12 17:23] saurabhumalkar opened #132 "CSS height on 'map' class"
It seems that if map class height css is specified in %, it does not work. For example in layout.css if I remove height attribute on map class or change it to 100%, the example stops working.

[2016-10-21 07:20] mike4009 opened #133 "ol3-google-maps with ol3-cesium"
Hi

Can we use OL3-Cesium library with this library? My current project uses Openlayers3 and OL3-Cesium but I need a Google Satellite imagery for my map/globe. I'm having an error when I replaced my Openlayers3 library with Ol3gm.

Thanks and regard,

[2016-10-21 12:33] adube commented on #133
Hello Mike.

At this moment, ol3-google-maps is not compatible with ol3-cesium because of the way Google Maps is added.  It's would not be 'impossible', but would require development enable this.

If you're interested in working on this or funding this, we could discuss this more.  Please, let us know.

[2016-10-26 10:41] glchua2 opened #134 "disappearing circle features"
I notice a weird behavior when playing around with [concept example](http://mapgears.github.io/ol3-google-maps/examples/dist/examples/concept.html).

With google map as base layer, i tried zooming in 3 times to a spot with no features ( e.g winnipeg )  followed by panning around the map quickly for a few times. After that, I zoom out a few times and notice that some/all of the circle features have

[2016-10-26 12:19] adube commented on #134
Thanks for reporting this.

[2016-10-26 15:21] jose1914luis opened #135 "MULTIPOLYGON isn't supported... Help me!"
the MULTIPOLYGON shape isn't implemented, this is a powerful functionality in OpenLayer 2. is necessary convert the shape from ol3 to google map, I don't know how put this. I explain the problem in https://stackoverflow.com/questions/40243847/loading-multipolygon-in-openlayer-3-with-ol3-google-maps/

[2016-10-27 15:45] zorta86 opened #136 "ol3gm v.0.8 - TypeError: this.set is not a function when using an API key by google"
I'm getting this error:

 when I use a valid API key from google API console.

If I don't use the key, everything works fine.

But I want just to add some details: I'm actually using html2canvas to export PNG, and it works great. But if I use the API key the exported PNG works but it don't shows any marker.
If I DON'T use any API keys, the screenshot works and markers appear.

So, I'm doing someth

[2016-10-27 17:28] adube commented on #136
Would you please create a small live example that demonstrates the issue you're having?  Also, try to use ol3gm-debug.js instead to see if you can debug the error yourself.

[2016-10-27 17:30] adube commented on #136
Also, I'm not sure but exporting a Google Maps map may a violation of their terms of use, see:  https://developers.google.com/maps/terms, under 10.5 Intellectual Property Restrictions. section c.

[2016-10-28 08:23] zorta86 commented on #136
I'll create an example but first let me explain in details:
- I'm using requireJS to load google maps and other libs. It use "async" plugin for requireJS to load map (`https://github.com/millermedeiros/requirejs-plugins`)
- It load the maps correctly but, at some point, the ol3gm throw an exception (see first post). Why? Because the async use the callback param to load the map (see 2nd post)
- the

[2016-10-28 09:05] zorta86 commented on #136
UPDATE: in debug version I have this:
- error at 105904, this.set is not a function `this.set('font', 'normal 10px sans-serif');`
- indeed, `typeof this: "object"`

If I don't use the callback param, `this` is a function and everything works fine (but I repeat: I need requireJS, and it use a callback param to init the gmap)

[2016-10-31 09:27] glchua2 commented on #134
Just to add on further observation, hiding google map layer will bring back the disappearing circle feature. Based on my experimentation, features are not re-rendered when setting visibility of map layer, so i don't think that it is a rendering issue.

Tinkering with zIndex does not solve the issue too. Any idea what is causing this?

[2016-10-31 12:35] adube commented on #134
FYI, hiding the Google Maps' map makes OL3 render the features back.  When a gmaps layer is on, olgm takes care of rendering the features using its herald objects.

I checked how the style objects are created and I couldn't find any problem there:

https://github.com/mapgears/ol3-google-maps/blob/v0.11.2/src/gm/gm.js#L135-L312

The problem appears at a moment that I can't currently identify why /

[2016-10-31 14:42] adube commented on #135
I added a notification to the limitations: https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md#multi-geometries

[2016-10-31 14:57] adube opened #137 "Upgrade ol3 to v3.19.1"
Upgrade OpenLayers to version 3.19.1

[2016-10-31 15:23] #137 closed, assigned to adube

[2016-11-02 09:14] JoeC38 opened #139 "Remove Visibility of Business Poi"
Hi, in the first place, thanks for the library, it is great. The problem I have is that I can´t remove visibility of business poi accesing to the embedded map of google. What I do is:
`var removePoiStyle = [ {
	featureType : "poi.business",
	elementType : "labels",
	stylers : [ {
		visibility : "off"
	} ]
} ];
`
`olGM.getGoogleMapsMap().setOptions({styles : removePoiStyle});`
I have read that ther

[2016-11-02 12:21] adube commented on #139
Hi @JoeC38.  Thanks for your interest in ol3-google-maps!

The styling limitations only affect the `ol.layer.Vector` layers, so the issue doesn't come from there.

I think you should be able to accomplish what you want to do by doing it like in this example:
- http://mapgears.github.io/ol3-google-maps/examples/dist/examples/themed.html
- see the js file: http://mapgears.github.io/ol3-google-maps/e

[2016-11-02 13:00] JoeC38 commented on #139
Thanks!!! It works!, That was what I was looking for. Here is my code after been adapted to your guidelines:

[code]

This way I remove all poi (business,hospitals, schools..) that are not useful for the user.
Thanks a lot.

[2016-11-02 13:02] adube commented on #139
Excellent!  Thanks for sharing this.  I'll close this issue now.

[2016-11-02 13:02] #139 closed, assigned to nobody

[2016-11-02 15:03] zorta86 commented on #136
UPDATE:

Error at 105904, the "set" function he need is the `_.m.set()` function defined inside `<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<myKey_xxxxxxx>&callback=__async_req_1__"></script>`.

I don't know why, but using a callback to load the map it prevents triggering the `_.m.set()`.
Actually I need a live example on how to use a callback to load gmaps wit

[2016-11-02 15:16] adube commented on #136
Honestly, I don't know much about RequireJS nor what is the use of that callback method.  I'd be happy to see a fix to support this but my knowledge is limited for the moment.  If you're able to make it work by patching OL3GM, I'd be happy to review a PR.  An example would also be nice to demonstrate how this could be used.

I'd leave this ticket opened for future references and until a fix is mad

[2016-11-04 16:27] zorta86 commented on #136
I think this is the best we can do. And I have a semi-nice update! I solved my problem like this:
- using first RequireJS to load all the libs that don't depend on OL and OL3GM
- I created my main (for the first RequireJS) and added a timeout. This timeout just check if gmaps has been loaded (see below)
- I defined a custom script where I get the maps (with [jquery getScript](https://api.jquery.co

[2016-11-07 22:37] laurentboileau opened #142 "Provide an additional build target that isolates ol3-google-maps"
Since OpenLayers is now being compiled with ol3-google-maps, it might be interesting to offer an additional build target that only outputs the built ol3-google-maps library.

The current approach of bundling OL3 & ol3-google-maps requires that the Google Maps API be available when the bundled script is loaded in order to perform the necessary `ol.inherits` calls.

Our use case is similar to the on

[2016-11-08 08:29] prieston opened #143 "syncronizing zoom and pan"
I noticed that when zooming in and out or pan the map at [this example](http://mapgears.github.io/ol3-google-maps/examples/dist/examples/watchoptions.html) the functionallity is not syncronized at both layers (google maps and vector layer). Can this be syncronized somehow?

[2016-11-08 13:51] adube commented on #142
Hello @laurentboileau

A) I don't think creating a build that only contains OLGM would be possible at this stage.

B) The idea of deferring the `ol.inherits` seems like a good approach, however I'm not sure how we could accomplish this.  Do you have suggestions on the matter?

C) One thing you could do is create a custom build of OLGM, one that would only include the components from OpenLayers it

[2016-11-08 13:57] adube commented on #143
Hi @Prieston

This example explains how you can toggle on/off the management of layers in OLGM using the watch options.  Let me clarify.

OLGM puts the OpenLayers map on top of Google Maps.  When all 'watch' options are turned off (that's when everything is red in the example), then the layers are rendered by OpenLayers.  Zooming in/out have a 'not synchronized' behavior because the zooming animat

[2016-11-08 13:57] #143 closed, assigned to nobody

[2016-11-08 14:32] laurentboileau commented on #142
Hello @adube

Thank you for the thorough reply. The C) option seems like the best candidate. I'll try it and document my process. Thank you for proposing it.

I'm not too keen on option B) either. While it would address my issue, I don't see how it could be cleanly implemented. My first thought was to isolate the `ol.inherits` calls inside a function that would only be ran once by our app prior to

[2016-11-18 20:44] laurentboileau commented on #142
Hello,

I tried option C), but ran into issues. OpenLayers objects created using my initially loaded OL3 wouldn't be recognized (`instanceof`) by the duplicated OL3 code in my isolated OLGM build. As a result, map initialization would fail. Running debug builds would also fail, because `goog.provide` would detect the duplicated `ol` namespace and would stop loading OLGM.

I defaulted back to optio

[2016-11-18 20:44] #142 closed, assigned to nobody

[2016-11-21 13:11] adube commented on #142
Thanks for sharing your experience, @laurentboileau.

[2016-11-23 14:09] ogunnars opened #146 "Switching between layers"
I have problem switching between layers.
Tried the ol3-layer switcher and the simple layers switcher.
I have 3 different google layers roodmap, satellite and hybrid.
There is also an osm layer aswell as an vector layer that is initial visible.
I get an exception when choosing any of google layers
Is there anything needed to be added ?

the code is setting the layer visible or not ...
    var other

[2016-11-23 14:33] adube commented on #146
This could be related to #37.

Would you please create a small live demo that reproduces the issue?  It would be easier to debug from there.

[2016-11-23 15:03] ogunnars commented on #146
Will put something together tomorrow.

[2016-11-24 09:10] ogunnars commented on #146
Hi
I here have a repro of the exception I get on the stackhub case I logged yesterday.
The problem is adding a circle on the vector layer.

There is a small circle in the largest lake in Sweden.
If the vector layer is disabled in the layerswitcher then choose a google map no exception.
If vector layer is choosen and then switch to google there is an exception ...

Kindly
/Ola

[openlayersRepro2016

[2016-11-24 12:04] trinityzhub opened #147 "Support rotateWithView"
feature.setStyle(new ol.style.Style({
     image: new ol.style.Icon( ({
     rotateWithView: true,
 rotation:datainRadians,   /// no rotate in ol3gm

It is working in ol3 but not in ol3gm

using latest ol3gm

[2016-11-24 13:13] adube opened #148 "Support ol.geom.Circle"
This task is about supporting `ol.geom.Circle` as geometry type within OL3-Google-Maps.  It is currently not supported: https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md#circle-geometry

See also: https://github.com/mapgears/ol3-google-maps/blob/v0.12.3/src/gm/gm.js#L29-L52

[2016-11-24 13:15] adube commented on #146
Thanks for the example.  I've narrowed down where the exception comes from: the `ol.geom.Circle`, which is currently not supported in OL3-Google-Maps.  I created a ticket about this: #148.

[2016-11-24 13:18] adube commented on #147
The `rotateWithView` is not currently supported within OL3-Google-Maps.  It would require development to be able to accomplish this.

A contribution would be welcome.

[2016-11-25 07:49] ogunnars commented on #146
Hi
It's possible to use a polygon instead of the ol.geom.Cirle
It seems a little bit slow. But work's
I need the circle to draw a sector object on the map.
This works on google maps.

var circle = new ol.geom.Circle(ol.proj.fromLonLat([lon, lat]),
groundRadius  );
var feature = new ol.Feature({typ: 'circle' });

var precisionCircle = ol.geom.Polygon.fromCircle(circle, 128, 0);
feature.setGeometry(

[2016-11-25 13:03] adube commented on #146
That's a good alternative, indeed.  Let's close this discussion, as anything towards supporting `ol.geom.Circle` should go in #148.

Thanks for sharing your experience.

[2016-11-25 13:03] #146 closed, assigned to nobody

[2016-12-09 12:43] gitzhang opened #149 "make dist ERR!Could not find base.js"
ol3-google-maps git:(master) make dist
mkdir -p dist/
node build/build.js build/ol3gm.json dist/ol3gm.js
info ol3-google-maps Parsing dependencies
ERR! Could not find base.js
make: *** [dist/ol3gm.js] Error 1

[2016-12-09 13:10] adube commented on #149
I just tried it on my Xubuntu 16.04 machine, with NodeJS v4.2.6 and it worked for me.  Would you please provide more info?

[2016-12-10 02:01] gitzhang commented on #149
tks for reply. I tried on macOS sierra 10.12.1 with NodeJS v6.6.0. And I changed my NodeJS version to 4.4.4 , but it was still same ERR.

[2016-12-12 20:27] adube commented on #149
I just tried it on a OS X Yosemie 10.10.5 Mac using:

* nvm (to install node.  I used version 4.7.0)
  * download nvm: https://github.com/creationix/nvm#install-script
  * install node: `nvm install 4`
  * use node: `nvm use 4`
* java jdk
  * type `java`.  If you do not have it, you will be prompted a message to install it.

From there, I cloned the repository and did `make check` and it worked.

[2016-12-14 09:49] glchua2 opened #151 "Latest version v0.13.0 causing issue when zooming in or out"
When performing a zooming in or zooming out action there is now an additional panning before the zoom. It can be observed in this example [here](http://mapgears.github.io/ol3-google-maps/examples/dist/examples/simple.html).

This panning somehow solve the issues depicted in this [ticket](https://github.com/mapgears/ol3-google-maps/issues/134).

[2016-12-14 13:02] adube commented on #151
Thanks for reporting this.  I'll have a look at it.

[2016-12-14 13:17] trinityzhub commented on #147
I can rotate the feature while initialisation/Declaration.
But i can't rotate the feature after the initialisation.

IS THERE ANY  SOLUTION.
----------------------------------------------------------------------------------------------
I tried:
1. Style Function
2. feature.getStyle().getImage().setRotation(angle);  // set rotation
3. SetStyle

[2016-12-14 13:41] adube commented on #147
As previously mention, this is not currently supported.  It would require development.  Contributions are welcome.

Thanks for your interests.

[2016-12-14 14:41] adube commented on #151
@glchua2 I have excellent news!

First, I'd like to apologize.  I released 0.13 without testing rigorously the examples.  I assumed that since the build worked, everything was fine.  Terrible mistake.  Sorry about that.

So, I found the culprit, which turned out to be like finding the Holy Grail!  See: https://github.com/openlayers/ol3/releases/tag/v3.20.0  OpenLayers changed the way the animation

[2016-12-14 15:49] adube commented on #151
The regression has been fixed in #152.  A new [0.13.1 release](https://github.com/mapgears/ol3-google-maps/releases/tag/v0.13.1) has been created.

You can try the [example](http://mapgears.github.io/ol3-google-maps/examples/dist/examples/simple.html) again to see that the issue is gone now.

Thanks again for reporting this.

[2016-12-14 15:49] #151 closed, assigned to nobody

[2016-12-15 02:18] glchua2 commented on #151
@adube That is great news!!

While trying out the example, i can verify that the issue is indeed gone. But, now every time i zoom in or out, the google map layer will turn grey first before it render finish. The contrast is more apparent when comparing it to osm layer [here](http://mapgears.github.io/ol3-google-maps/examples/dist/examples/concept.html).

[2016-12-15 13:13] adube opened #153 "Google Maps map turns grey while zooming"
While zooming in or out, the Google Maps map turns grey.

## Details

Since 0.13.1, we no longer zoom Google Maps at 'interger' interval, i.e. we no longer jump from 1 to 2, 2 to 3, and so on while zooming in.  We zoom at fractionnal zoom levels to follow the new way OpenLayers 3.20.0 works, i.e. OpenLayers pregressively changes their resolution while zooming in/out.

When we tell Google Maps to c

[2016-12-15 13:14] adube commented on #151
Thanks for reporting this.  I opened an other issue about this: #153.

[2016-12-15 13:47] adube opened #154 "Support custom resolutions"
The enhancement is this: make it possible to define different resolutions on the OpenLayers view and have the Google Maps map behave accordingly.

At the very least, it would be nice if we could define a `maxResolution` and/or `minResolution` with values being one of the resolutions that Google Maps already supports.  That way, it would make it possible to prevent the map from being zoomed out or

[2016-12-15 14:20] adube commented on #153
It would seem that calling `setZoom` to Google Maps map with a fractionnal zoom only works for a couple of times (3 times, to be exact).  On the 4th time, instead of zooming, the maps turns grey. While zooming in in OL, we ask it a lot more than that, so the map turns grey.

This seems like a limitation with Google Maps.  We'll have to look for alternatives, but one we could think of is have only

[2016-12-15 14:41] adube commented on #153
For reference, I asked for help: http://stackoverflow.com/questions/41166831/google-maps-fractionnal-zoom-only-works-3-times

[2016-12-15 16:40] adube commented on #153
Okay, so bottom-line is this: Google Maps doesn't officially supports fractionnal zoom levels.  It's surprising that it does sometimes.

There's [an issue opened about this already in gmaps-api](https://code.google.com/p/gmaps-api-issues/issues/detail?id=9948#makechanges). If you're interested in seeing this issue fixed, **you can star it**.

Let's hope that people from Google fixes this, someday.

[2017-01-05 11:06] smartpaco opened #155 "ol3gm.js not found"
Hello,
In the quick start, you mention:
load the OL3-Google-Maps script included in the tarball of the version you downloaded, which already includes OpenLayers so you don't need to load OpenLayers too.
<script type="text/javascript" src="ol3gm.js"></script>

This file is not available in the repositories?
Many thanks.

[2017-01-05 13:05] adube commented on #155
No, it's not.  The repository contains the source files.  The minimized version of the library is only found in the .zip files, which can be found in the releases: https://github.com/mapgears/ol3-google-maps/releases

Best regards

[2017-01-05 13:05] #155 closed, assigned to nobody

[2017-01-13 12:02] ogunnars opened #156 "ol.View.Projection != 3857"
I have a WMTS layer that have the projection 3006, Swedish one ..., and when I in my layerswitcher change to a layer using ol3-google-maps it fails ...
When I switch to the 3006 view I set up a view with 3006 projection and when I leave I'm setting the 3857 view again but ol3-google-maps just goes nuts ...
Any ideas for fixing this issue ?

Map.prototype.setViewProj = function (newproj) {
	var res

[2017-01-13 13:31] adube commented on #156
See also: http://stackoverflow.com/questions/41536006/using-ol3-google-maps-with-different-projections

Bottom line is: when you use Google Maps API, you must use the Web Mercator projection (EPSG:3857).

[2017-01-13 13:31] #156 closed, assigned to nobody

[2017-01-13 13:53] ogunnars commented on #156
I was a little unclear ... The google map uses 3857 but i have another map wmts that sources from 3006 and the view must be 3006. When I toogle between these maps ol3-google hangs after a while ...

[2017-01-13 14:45] adube commented on #156
You have to make sure that the view is 3857 when you're using Google Maps.  Here's what I suggest:

 - do not activate ol3-google-maps all the time (leave it inactive)
 - make sure to switch view first (you have to have 2 views, one in 3006 the other 3857)
 - when you want to show the google maps layer, first:
  - switch to the 3857 view
  - activate ol3-google-maps
  - add the google layer
 - do

[2017-01-13 14:49] ogunnars commented on #156
I was just trying active/deactive !! :)

2017-01-13 15:45 skrev Alexandre Dubé:

--
+46 (0)8 - 410 143 40

[2017-01-13 15:13] adube commented on #156
Okay.  Let us know if you end up fixing your issue.

[2017-01-13 15:28] ogunnars commented on #156
Added deactive/active after changing view and it seems to work !!!
Need to test around little more !

Thnks's for discussion

	this.map.setView(this.view);

	if (activeId != this.googleLayerSatId) {
	    this.olGM.deactivate();
	} else {
	    this.olGM.activate();
	}

[2017-01-20 06:14] iang0ld opened #157 "Licencing Question"
This may be a silly question but to use am I required to buy a maps licence from google?

[2017-01-20 13:09] adube commented on #157
That depends how you plan to use Google Maps API and/or the volume.

See for more details: https://developers.google.com/maps/pricing-and-plans/

HTH

[2017-01-20 13:09] #157 closed, assigned to nobody

[2017-01-22 08:47] ogunnars commented on #148
When using interactions a fix is needed to get ol3-google-maps work on draw end.
Change the feature geometry to a polygon to enable switch bwteen different base layers

....
				        var geom = feature.getGeometry();
				        // Fix to get google maps working while it does not support ol.geom.Circle
				        var precisionCircle = ol.geom.Polygon.fromCircle(geom, 128, 0);
				        featu

[2017-01-30 21:09] adube opened #158 "WMS source with '?' in the url fail with OLGM"
When using a WMS url that contains a `?` character in it, for example 'host://myserver/mapserv?map=/mymap.map', it fails because the url OLGM builds doesn't check if there's such a character.  It always adds one itself.

[2017-01-31 13:09] adube opened #159 "Upgrade GoogleMaps API to 3.27"
The task at hand is this: upgrade GoogleMaps API to 3.27 in the extern files.

[2017-02-02 15:01] luckylooke opened #160 "map images dont load after zoom"
All examples are not loading map after zoom: http://mapgears.github.io/ol3-google-maps/examples/

[2017-02-02 15:05] luckylooke commented on #160
Zoom with buttons works, map just greyed out during the transition. But zooming with scroll is when bug occurs.

[2017-02-02 15:20] adube commented on #160
This is a duplicate of #153.  Thanks for your interest in OL3GM.

[2017-02-02 17:31] luckylooke commented on #160
@adube I dont think is duplicate of #153. Because now map doesn't load at all. They are not grey only while transition, but they stay grey. So it is more serious bug now. But I think it occurs because of some change on google maps API. Because it occurs without changing the code or your library.

[2017-02-02 17:35] luckylooke commented on #160
This is screenshot of how it looks like after zoom and it stay in that state: http://prntscr.com/e3nm2p

[2017-02-02 17:37] luckylooke commented on #160
Tested on Safari, Firefox and Chrome.. all on OSX, all with same result.

[2017-02-02 18:27] adube commented on #160
I'm not currently able to reproduce the issue from the examples on http://mapgears.github.io/ol3-google-maps/examples/

I checked from my Linux machine, from Windows and I also asked a colleague and it worked fine.  We see the grey while the transition occurs, but not after.

I'll leave this open.  If you're able to test on other environments or provide a way to always reproduce the issue, you can

[2017-02-02 19:17] luckylooke commented on #160
Ok, I have just tested on win machine and it was OK, so it seems to be just Mac/OSX related. So my OSX: 10.12.2 (16C68) Sierra, Chrome Version 56.0.2924.87 (64-bit), screencast of bug: https://www.youtube.com/watch?v=wi_bQKMC6zE

[2017-02-02 19:20] adube commented on #160
Thanks for testing this.  We have a Mac machine at the office, so I'll give it a shot from there.  I'll let you know if I find anything.  If you wish to contribute a fix, please feel free to open a PR.  I should have some time for this next week.

Thanks

[2017-02-02 19:31] luckylooke commented on #160
I am sorry but I was using ol3gm just for presentation as one of possible solutions and we have choose another variant, so I am not going to fix it, I was willing to report it and I will test the fix afterwards but that is all time I can invest into this issue, thanks for understanding.

[2017-02-02 19:57] adube commented on #160
No problem.

[2017-02-04 05:12] rezvanshiravi opened #161 "Overview Map"
Hi,
I want to add overview map to my google layer. but when I add this control, overview map doesn't show properly.
I do all of the overviewmap.js  but still not work.
My code attached below. Can read it and if there is error inform me, please?

  var Google_view=new ol.View({
			center: Google_center,
			zoom:12,
			minZoom:12,
			maxZoom:21,
			extent:Google_bounds,
			projection: 'EPSG:3857'

[2017-02-04 11:50] trinityzhub commented on #147
How can I contribute on this Enhancement?

[2017-02-06 13:28] adube commented on #161
May be related to #117.

[2017-02-06 13:34] adube commented on #147
You need to fork the repository, clone it locally and install the development environment.  See: https://github.com/mapgears/ol3-google-maps/blob/master/DEVELOPING.md

Then, you can create a branch to work on a patch.  Make sure you run `make lint` and `make dist` often as you develop.

Once you're done, create a PR here and a core developer will look at your code and review it.  He or she may ask

[2017-02-08 05:02] rezvanshiravi opened #162 "Overview map"
After hard working on Google overview map , I found that when I set collapsed option to false in overviewmap control instance, my overviewmap work well but when I set it to true only the first load of overviewmap had shown and by refresh web page it never show again.

I think this is a bug.
So I demands on your team to resolve this issue.

Thanks

[2017-02-08 14:20] adube commented on #162
Hello.  Thanks for your interest in OL3-Google-Maps.

We, at Mapgears, are definitely committed to continuing to support this project as long as it will make sense to do so. We use it for our own products and for projects with our customers, and will continue to make it evolve and address issues as we go as part of that work.

However, just like with any open source project, its development is dri

[2017-02-22 16:22] adube commented on #160
Just for the record: I tested on our Mac OSX 10.10.5, on Chrome 56 and Safari 8.0.8: I could not see this issue, which is unfortunate.  I would have liked to see the issue in action to be able to work on this, but I will not be able to.

[2017-02-22 18:19] luckylooke commented on #160
I was just tested it again, and issue is still present. :/

[2017-02-22 18:48] adube commented on #160
Yeah... I really don't know what to do here...  I'll try asking a relative to test it on his Mac laptop.

I may also completely have to rethink how the zooming management is made with OL >= 3.20.1, but I currently lack the time to check on spare time.  Anyway, I'll let you know if I find something else regarding this.

[2017-02-22 23:32] dmorissette commented on #160
FYI, just tested on OSX 10.12.3 with Safari 10.0.3, Chrome Version 56.0.2924.87 (64-bit) and Firefox 51.0.1 (64-bit) and the Concept example works fine in all three.

Oh wait ...

I just tested zooming with two-finger scroll on the touch pad and can reproduce the bug this way. So it's related to a difference between zooming with mouse wheel and zooming with touch pad.

[2017-02-23 06:11] luckylooke commented on #160
@dmorissette you are right, attached mouse scroll is working, and scrolling with two fingers on touch pad doesnt, thats very interesting. I am sorry I didnt realize that it can make difference.

[2017-02-23 13:13] adube commented on #160
Very interesting, indeed.  Thank you @dmorissette.

[2017-02-27 13:13] #159 closed, assigned to nobody

[2017-02-28 15:49] jkossis commented on #160
Any idea how to fix this?

[2017-02-28 16:01] adube commented on #160
I haven't looked at this yet, nor plan to work on this issue soon.  I also don't know how to fix this yet, but I'm keeping this in mind...  I'll post a comment if I begin working on this.

Reminder: just like with any open source project, the development of this library is driven by the funding we can get through customer projects, so if there are some limitations that are important to you and you

[2017-03-06 11:44] tsi commented on #160
I experience this issue on osx after updating from:
[code]
to:
[code]

[2017-03-06 13:18] tsi commented on #160
[code]
still works well in my testing

[2017-03-06 13:23] adube commented on #160
#153 gives a good explanation.  At first, this is why I had close this issue as a duplicate because it seemed to be the same, but not quite exactly.  When a fix will be provided, it should fix both.

[2017-03-07 08:22] nikitul opened #164 "Wrong behaviour when setting / getting opacity on layers"
I'd like to thank you for this integration library.
Now the issue.
I didn't try it on another properties but there is a chance to have the same behavior.

If I try to change layers Opacity property using layer.setOpacity( some_value) function, the value is applied on targeted layer BUT :
- the layer.getOpacity() function returns 0 and not the right value ;
- after that ,  Opacity is changed again

[2017-03-07 09:40] geopamplona commented on #37
I'm trying to do the same. Upload osm + google maps using ol3-layerswitcher. But it does not load correctly, ie all layers are displayed correctly but when I select osm, google layers are not loaded and returns the following error:

TypeError: this.cache_ [index] is undefined [Learn more] ol3gm-debug.js: 83477: 5
Olgm.herald.VectorFeature.prototype.unwatchFeature_ ol3gm-debug.js: 83477: 5
For-self

[2017-03-07 10:22] geopamplona commented on #37
Apparently I have found a solution to the problem by modifying line 83479
Modifying the function "olgm.herald.VectorFeature.prototype.unwatchFeature_"
In synthesis control the deletion of the cache
Change the line
     This.cache_ [index] .herald.deactivate ();
     // remove from cache
     This.cache_.splice (index, 1);

to

     If (this.cache_.length> 0)
     {
                 This.cache_ [in

[2017-03-07 13:28] adube commented on #164
Thanks for your interests in ol3-google-maps.

Here's an explanation that causes the behaviour you're describing.  When olgm is activated, all layers in the ol map have their opacity automatically reduced to 0.  Each layer is then created as a `google.maps.OverlayView` and added directly to the Google map.  The original opacity is applied to that overlay.  Deactivating olgm would restore the origi

[2017-03-07 13:31] adube commented on #37
@geopamplona Would you please provide a PR for this?  Thank you.

[2017-03-08 15:54] nikitul commented on #164
Yes, it makes sense :)

I ask you too much to guide me where I can read more about how to get googleTileLayer from ol3-google-maps based on ol3 layer? Is there a standard function or it should be done like in olgm.herald.TileSource.prototype.unwatchLayer ?

Thank you

[2017-03-08 15:54] #164 closed, assigned to nobody

[2017-03-08 15:57] adube commented on #164
@nikitul I'm not sure I understand the question.  Would you please clarify?

[2017-03-09 07:06] nikitul commented on #164
I'd like to use googleTileLayer and to set (or get) the opacity value with googleTileLayer.setOpacity().

For doing that, I need a function with ol3-layer as argument to get googleTileLayer from cache.

Something similar i see in olgm.herald.TileSource.prototype.unwatchLayer function, but instead of unwatching the ol3-layer, I need to return googleTileLayer, (or the whole cacheItem).
I did not see

[2017-03-09 13:41] adube commented on #164
Thanks for the explanations.  I am not entirely sure if I understood everything correctly, though.  Sorry about that.  I'll try to give more explanations.

1) You say you want to have access to the google layer to be able to set its opacity.  In your example, are you talking about the google layer that renders the OSM map?  If so, then setting the opacity already works, no?  In that case, there wo

[2017-03-10 07:29] nikitul commented on #164
Thank you very much for your time.
I think that my English is not so elevate and I am sorry for that. But...
You understood me perfect.

Actually, what I want is to make a plugin for `ol.layer.Tile`, something like ol3-layerswitcher with the possibility of changing layers position using drag and drop, and also changing the layers opacity. So:

1. You have right when is about setting the opacity us

[2017-03-10 12:37] adube commented on #164
Cool!  I now I understand perfectly what and why you need what you need.  I think it would make sense to create a new issue about this feature in which a short explanation would resume the needs.  I'll do that.

Looking forward to see your tool in action!

[2017-03-10 13:00] adube opened #167 "Have a way to get the google layers"
The requirement is this: it would be nice to be able to get the inner Google layers that are created by OLGM.

The point of entry is the OpenLayers' layer.  We could either:

 * add a property to the OpenLayers layer, for example `googleLayer`, that would allow it to be obtained like this: `olLayer.get('googleLayer')`

 * add a utility method to OLGM that receives the layer as argument: `olGM.getG

[2017-03-13 07:13] nikitul commented on #164
Thank you very much.
:)

[2017-03-29 02:10] ciriux commented on #37
Hi, is there a solution to this issue? Im experiencing the same problem.

[2017-03-29 12:07] adube commented on #37
Not for the moment, no.  A contribution would be welcome.

[2017-03-31 02:24] josephzhao opened #168 "conflict with ContextMenu of ol3-contextmenu.js"
Hello All
I am using ol3-contextmenu.js ol3gm.js conflict with it.

Thanks

Joseph

[2017-03-31 12:05] adube commented on #168
Hello,

Thanks for your interest in ol3gm.  Would you please provide more details about the issue?  Also, would you please provide a patch to fix this issue?  A contribution would be welcome.

Thanks.

[2017-03-31 19:29] josephzhao commented on #168
Thank you for your email.
do you have ol3gm-debug.js, then I can use it to make debug and find the solution.

Thanks

      From: Alexandre Dubé <notifications@github.com>
 To: mapgears/ol3-google-maps <ol3-google-maps@noreply.github.com>
Cc: josephzhao <zhaoshuilin2004@yahoo.ca>; Author <author@noreply.github.com>
 Sent: Friday, March 31, 2017 8:05 AM
 Subject: Re: [mapgears/ol3-google-maps] conf

[2017-04-03 11:00] adube commented on #168
Hello,

Check the [Developing](https://github.com/mapgears/ol3-google-maps/blob/master/DEVELOPING.md) instructions.  You'll need to download the source files using git.  Any changes made are made to the original source files, not `ol3gm-debug.js`.

Execute `make lint` and `make dist` to make sure that your patch is correct.  You can do: `make serve` and visit the examples to see them in actions.

[2017-04-20 19:09] kukumix opened #169 "Google maps as a layer in Geoext3 Tree Panel"
I'm trying to load Google Maps as a Layer in Geoext3 tree Panel. I'm using Ol3-Google-Maps. My code is:

    var googleLayer = new olgm.layer.Google({
        name: 'Google',
        title: 'Google',
        type: 'base',
        combine: 'true'
    });

    olMap = new ol.Map({
        layers: [googleLayer, layerorto2016gv, layerlim],
        controls: controls,
        view: new ol.View({

[2017-04-20 19:14] adube commented on #169
Hello  Please, avoid cross-posting: https://gis.stackexchange.com/questions/237218/google-maps-as-a-layer-inside-geoext3-tree-panel

Please, try to load ol3gm-debug.js instead of ol3gm.js, which should help you finding the cause of the problem.

Any contribution or fix would be welcome.

[2017-04-20 19:25] kukumix commented on #169
I've done and the error shown is:

Uncaught Error: Namespace "ol" already declared at Object.goog.provide.

Now I'm looking for a solution.
Thanks

2017-04-20 21:14 GMT+02:00 Alexandre Dubé <notifications@github.com>:

[2017-04-20 19:43] adube commented on #169
Looks like you're loading OpenLayers twice.  Try to see where and load it only once.

[2017-04-20 19:54] kukumix commented on #169
I've solved this deleting one of them. I've twice.
Now I haven't any error but google mapas layer doesn't appear.
When I tried the simple example I had problems with the css of the map. I
think I've the same problem. I've to think how to solve it.

2017-04-20 21:43 GMT+02:00 Alexandre Dubé <notifications@github.com>:

[2017-04-21 08:25] kukumix commented on #169
It doesn't work. Now appears the following error:
		ol3gm-debug.js:91417 Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.
The problem is that the google layer doesn't appear inside de mappanel.

[2017-04-21 12:04] adube commented on #169
Have you checked if this may be related to the issue mentioned here: https://github.com/mapgears/ol3-google-maps/issues/37#issuecomment-172858622

I suspect it may be the case.

[2017-04-21 12:54] kukumix commented on #169
Yes, I've tried.

2017-04-21 14:04 GMT+02:00 Alexandre Dubé <notifications@github.com>:

[2017-05-09 06:23] openlayersUser commented on #147
Hi adube,

This setRotation I fixed by editing ol3g.debug.js file. Now every setStyle will work without removing and adding features from layer. But I have one doubt. After editing in debug.js how to compile that file ? Can you please help me how to compile ol.debug.js file ? any online tools ?

[2017-05-09 12:18] adube commented on #147
The explanations are right above your comment.  See: https://github.com/mapgears/ol3-google-maps/issues/147#issuecomment-277682036

[2017-05-09 12:19] adube commented on #147
Your changes must be done on the original files, i.e. those in the `src` directory.  Then, you can build using the `make dist` command.

[2017-06-14 07:49] boomdrak commented on #160
Has anyone worked out a solution for this issue?
We are experiencing the same situation.

Zoom with pinch/touch phones/touch pad, that falls outside an integer zoom level returns a grey map.
When using a mouse-wheel with clicks or just + or - in map, zoom works just fine.

[2017-06-14 12:03] adube commented on #160
Would you please try this for me: define your own `ol.interaction.MouseWheelZoom` with `constrainResolution: true` set?

See: https://openlayers.org/en/latest/examples/mousewheel-zoom.html

This could fix the issue.

[2017-06-15 09:05] JamiesWhiteShirt commented on #160
It turns out @boomdrak's issue (our issue) was caused by something else cancelling animations. The animation cancelling nullifies the effect of `constrainResolution` on `PinchZoom`/`MouseWheelZoom`. This left the resolution in an invalid state, causing the map to go grey.

If you are experiencing issues with the constraint not working, make sure you're not accidentally cancelling animations.

[2017-06-20 22:17] Orion3090 commented on #107
I know this is old, but isn't there anything on this topic?
EDIT: The answer is yes, it does, youst create the layer like this:
`var googleLayer = new olgm.layer.Google({ mapTypeId: google.maps.MapTypeId.HYBRID });`

hope it helps someone!

[2017-06-21 12:04] adube commented on #107
Thanks @Orion3090

[2017-06-21 12:04] #107 closed, assigned to nobody

[2017-07-03 15:50] JamiesWhiteShirt opened #172 "olgm package for ES module bundlers"
We are currently moving our ol3-google-maps application to Webpack. Webpack and similar module bundlers work best using ES modules. Closure compiled bundles can be compatible with Webpack, but they lose significant advantages such as [tree shaking](https://webpack.js.org/guides/tree-shaking/). OpenLayers and ol3-google-maps can also easily be extended with ES modules.

In order to provide a specia

[2017-07-03 16:11] adube commented on #172
@JamiesWhiteShirt Thanks for your interest in olgm.  There's already an NPM package, see: https://www.npmjs.com/package/ol3-google-maps.

If there are changes that would be required to be able for it to be used as ES module, I'd be happy to review a PR.

Please, note that I may be out for a few weeks and may not reply during that short period of time.

[2017-07-03 16:53] JamiesWhiteShirt commented on #172
Yes, you have an `ol3-google-maps` package just as OpenLayers has the `openlayers` package. For convenience, OpenLayers uses the specialized package `ol` for ES modules, which is why I figured there could be a similar separate `olgm` package. Understandably there is a bit of maintenance involved with a separate package, but I don't know how else we should handle the peer dependency on `ol`.

It cu

[2017-07-04 12:56] JamiesWhiteShirt commented on #172
Good news! I was successful in the creation of ES modules for ol3-google-maps. I was wrong in the assumption that only minor changes would be necessary in the code. OpenLayers has been doing a lot of work to facilitate ES module consumption. To make ol3-google-maps similarly compatible, I had to make similar changes. They are listed below.

**Removing dependency on the Closure Library**. OpenLayer

[2017-07-14 07:02] openlayersUser commented on #147
Hi adube,

 setRoataion will effect only when we remove and add feature again to source. This is not supported by OL3-Google-Maps previously. I want to know in upcoming new releases this is coming or you are working on it. Can I expect this one in future or its already completed ??

[2017-07-17 06:29] JamiesWhiteShirt opened #176 "View herald does not handle Map's "change:view""
OpenLayers allows you to set the View on the Map instead of mutating the existing View. We found this to be a necessary approach when having to change the constraints on the Map's View.

I discovered that this approach tends to break the view herald. It would no longer sync with the position/resolution/rotation because it would be listening to a view that is no longer used by the map.

We found a

[2017-07-18 11:59] adube commented on #147
We are not working on this feature and is not expected in the near future.

[2017-07-18 12:00] adube commented on #176
Yes, that would be great.

About the ES module PRs, I should be able to review them this week.  Thanks.

[2017-07-21 20:34] fqborges opened #177 "How to use the npm package?"
I have no clue, since:

`var olgm = require('ol3-google-maps');`

and

`import olgm from 'ol3-google-maps';`

both return an empty object.

EDIT: I am using webpack.

[2017-07-24 11:50] adube commented on #177
See: #175

[2017-08-16 10:08] glchua2 opened #178 "Problem switching to OSM map source"
Using example found in [http://mapgears.github.io/ol3-google-maps/examples/dist/examples/concept.html](here), when I click on Toggle OSM Layer, error message can be seen within console as shown in the screenshot below.

![ol3gm_error](https://user-images.githubusercontent.com/2323076/29358510-e068cf28-82ad-11e7-86b5-5c031eef49fc.png)

[2017-08-16 12:06] adube commented on #178
Hi.  It seems to be working on my end.  What browser are you using?

[2017-08-17 09:59] glchua2 commented on #178
Now it works fine for me too, could just be some sporadic issue. Thanks for your time

[2017-08-17 10:03] #178 closed, assigned to nobody

[2017-09-05 13:50] LSG8 opened #179 "Is using ol3-google-maps legal for commercial use?"
I tried to integrate google map in openlayers 3 using ol3-google-maps by mapgear. But I wonder whether is it legal to use it for commercial use?

[2017-09-05 14:40] adube commented on #179
ol3-google-maps is legal.  See: https://developers.google.com/maps/terms, under:

ol3-google-maps **does** use the service provided by Google to request their tiles.

That being said, because of that, the library also comes with limitations.  See: https://github.com/mapgears/ol3-google-maps/blob/master/LIMITATIONS.md

Other tiles providers, such as Bing, HERE, Mapbox, etc. do not have this kind of

[2017-09-05 14:40] #179 closed, assigned to nobody

[2017-09-05 14:42] adube commented on #179
One other useful piece of info: Google themselves approuved a student for their Google Summer of Code last year to work on enhancements for ol3-google-maps.  That's an other "plus" right there.

[2017-09-06 07:35] LSG8 commented on #179
Thank you for the information

[2017-10-03 04:16] jacobo commented on #135
Hi, I'd like to help and contribute support for MultiPolygon

I'm pasting here's what I've got working so far:

    @@ -81489,7 +81489,8 @@ olgm.gm.createFeatureGeometry = function(geometry, opt_ol3map) {
       if (geometry instanceof ol.geom.Point) {
         gmapGeometry = olgm.gm.createLatLng(geometry, opt_ol3map);
       } else if (geometry instanceof ol.geom.LineString ||
    -             g

[2017-10-05 05:39] geopamplona commented on #132
Good morning, your problem is the same to me. I always need to add height to the map div for the google layers to work fine.
The downside of this is that the map is not responsive.
Maybe it can be solved by css?

[2017-10-05 12:09] adube commented on #132
The problem seems to be caused by the fact that the div in which the Google Maps' map is rendered inherits its parent height.  If that's what you mean, then I faced this issue once.  The following CSS worked for me (`#map` being the target div where the OL3 map is renderered):

[code]

Please, let us know if that works for you.

[2017-10-06 06:26] geopamplona commented on #132
It makes a lot of sense what you propose, but in my case it does not work.
When I give height to the "map" layer if it shows the google layers well; when specific height 100% google layer disappears. I still try css code, maybe it's something that conflicts (although I should not)

[2017-10-06 06:54] geopamplona commented on #132
at the moment it works for me

[code]

other forums say that this way is not compatible with older browsers.
Maybe this is the solution?

I think this solution is not entirely good, because the map is very large.
This is a serious problem to make the map responsive when using google layers.
I have seen that many people have the same problem.
using the examples of mapgears also does not work the pr

[2017-10-06 11:59] adube commented on #132
I think it would be nice to have a "fullscreen" example, in which we try to reproduce the issue and try to fix it at the same time.  That way, the solution that would be found would be a good "tip" for users that are trying to do the same thing.

If anyone's willing to work on the addition of such an example, I could do the review.

[2017-10-06 12:19] geopamplona commented on #132
I have raised this case example in jsfiddle:
https://jsfiddle.net/04uLfs61/2/

in the box css I comment the different alternatives raised in this thread

[2017-10-06 12:52] adube commented on #132
I'm running this on Chrome and it seems to work fine for me.  Or maybe I'm not understanding the real issue here.  Would you please explain it again?  In what browser can I reproduce the issue?

Thanks

[2017-10-06 13:02] geopamplona commented on #132
in the box css I comment the different alternatives raised in this thread

[2017-10-07 09:26] geopamplona commented on #132
in the box css I comment the different alternatives raised in this thread

the real problem is that if we apply the height: 100% to all the child layers of the map layer, google layers will still not see correctly

thanks

[2017-10-16 11:10] bampakoa commented on #160
You could set `constrainResolution: true` in the map interactions so that the zoom level is always round up to the closest integer level. In my case, I set `constrainResolution` in the default interactions, since I use Google Maps only with OpenLayers.

[code]

[2017-10-25 17:57] ademus commented on #160
Same pb for me on Firefox and the `constrainResolution: true` solution doesn't work.
It seems that ol3gm.js simply doesn't  reacts at trackpad events.
Strange because ol3.js does.

`ol.interaction.PinchZoom` in ol3gm-debug.js doesn't fire at all when I use the trackpad.

[2017-10-25 18:46] adube commented on #160
OLGM currently uses OpenLayers v4.1.1.  Maybe it would help to upgrade OpenLayers within OLGM.

If anyone is willing to work on this, I would be happy to review.

[2017-10-25 19:11] iredmedia opened #181 "Birds eye"
Good afternoon!

Is there any way to use the satellite imagery without allowing "birds eye"? I was using Leaflet Google Mutant before which didn't have this issue, and it seems like the imagery from this is different (not as high quality).

Cheers!

[2017-10-25 19:21] bampakoa commented on #181
@iredmedia you can set the `tilt` of the map to **0** using the `getGoogleMapsMap` method:

[code]

[2017-10-25 19:52] bampakoa commented on #160
@ademus Can you try with [this](http://plnkr.co/edit/o72v1ns3sxPWFfjwOeC4?p=preview) plnk?

[2017-10-25 21:06] ademus commented on #160
@bampakoa : it seeems to work !!!!
I lost `ol.animation.pan`, but it doesn't matter so much as long as everything else works fine.
I 'll check more tomorrow and I'll tell you if any others issues.

bampakoa : could u let me know a little more on this ol3gm.js version ?

thx u very much mate. :)

[2017-10-26 00:26] iredmedia commented on #181
Thank you so much! (Smack my head)

[2017-10-26 00:26] #181 closed, assigned to nobody

[2017-10-26 08:35] bampakoa commented on #160
@ademus I am glad it helped! The version of ol3gm is the same that is used in [ol3-google-maps examples](http://mapgears.github.io/ol3-google-maps/examples/).

[2017-10-26 08:51] ademus commented on #160
@bampakoa : LOL !!
I thought I used it too.  :/
Well thank you again for your help.

[2017-10-26 08:56] bampakoa commented on #160
@ademus I think is the same as [this](https://www.npmjs.com/package/ol3-google-maps) one from npm. This is what I use in my project after all.

[2017-10-26 09:28] ademus commented on #160
@bampakoa :
npm and mapgears.github.io should be the same.
I don't remember where I picked up my ol3gm.js version but it was different.
Thx again for ur attention 🥇

[2017-10-26 12:14] adube commented on #160
Clarification: the versions of OLGM on npm and mapgears.github.io are always at the latest official version.

[2017-11-08 11:47] abdulbasit-punch opened #183 "Map won't Render [help wanted]"
Hi, I am using the example code as it is.

I have the JS and CSS files placed, no console errors and the map just won't render.

[code]

[2017-11-08 11:53] bampakoa commented on #183
@abdulbasit-punch It seems that you miss a closing script tag at the end of the file

[2017-11-08 13:10] adube commented on #183
@abdulbasit-punch See: https://github.com/mapgears/ol3-google-maps#quick-start

You're loading OpenLayers, then OLGM.  You musn't.  You should only load OLGM.  That may be what's causing the issue.

[2017-11-08 13:26] abdulbasit-punch commented on #183
@bampakoa Hi, oh well it's there. I think it did not copy the whole thing.

Here it is.

@adube Thanks for the prompt response but that did not work :(

[code]

[2017-11-08 13:28] abdulbasit-punch commented on #183
@adube Just for reference, I am using this
http://mapgears.github.io/ol3-google-maps/examples/dist/examples/simple.html

[2017-11-08 13:37] adube commented on #183
A few tips:

 * check if you have any errors in your browser dev tool console (F12)
 * try switching to ol3gm-debug.js to see if you can figure out any errors output

[2017-11-08 13:52] abdulbasit-punch commented on #183
@adube That's the thing there are no errors in the browser dev tool console.
It's blank :(
I consoled out few of the variables and they are there. Here is a screenshot using ol3gm-debug.js.

<img width="1672" alt="screen shot 2017-11-08 at 6 51 24 pm" src="https://user-images.githubusercontent.com/29150964/32552503-fb4ac806-c4b5-11e7-8409-a5834c936092.png">

[2017-11-08 13:55] adube commented on #183
Maybe:

 * it's a css issue?
 * can you try `map.updateSize()` ?  You can also try this after a few milliseconds (timeout).

[2017-11-08 14:30] bampakoa commented on #183
@abdulbasit-punch Can you setup a pnlkr?

[2017-11-08 18:54] abdulbasit-punch commented on #183
@bampakoa Here you go
http://plnkr.co/edit/AMlWa5H5Ng8q8TMlWFag?p=preview

@adube Nope that did not work. I invoked `map.updateSize()` after activating the olGM.

[2017-11-08 22:34] bampakoa commented on #183
@abdulbasit-punch It was a CSS issue as @adube correctly pointed out. Put these into your css:

[code]

By the way, your plnkr was missing **ol3gm.css** that you were importing in **index.html**

[2017-11-09 11:46] abdulbasit-punch commented on #183
@bampakoa Thanks - It Worked 👍

Cheers - Closing the issue

[2017-11-09 11:46] #183 closed, assigned to nobody

[2017-11-09 13:15] adube commented on #183
Thank you very much for your time, @bampakoa.  That's really appreciated.

[2017-11-13 12:15] bampakoa opened #184 "Upgrade to latest OpenLayers"
Hi all,

I would like to help towards upgrade of the library to the latest OpenLayers version and I have some questions to ask:

- I am currently using Windows as my preferred development OS and I noticed [DEVELOPING_WINDOWS](https://github.com/mapgears/ol3-google-maps/blob/master/DEVELOPING-WINDOWS.md) guide . It requires installation of some tools that I would like to avoid. Is this the only way

[2017-11-13 13:06] adube commented on #184
Hello.

About Windows: I've never tried it myself.  If you find a better alternate way to develop on Windows, please feel free to provide a patch for the instructions.

About tests: after upgrading, you need to:

 * read each OpenLayers "release note" between versions. There is code that changes from version to version, so adjustments are required.
 * run the `make dist` command.  It usually helps

[2017-11-13 13:07] adube commented on #184
Suggestion: it's a bit late for that, but I would have like to see 1 version of OLGM for each OL version. Do you think it would still be useful? Thoughts?

[2017-11-13 13:24] bampakoa commented on #184
@adube IMO, the best option would be to have 1 OLGM for each OL-GM version 😏

[2017-11-13 13:32] adube commented on #184
With GM, we don't have much options.  When Google decides to deprecated a version, it's no longer supported and one that tries to load it would have a newer version instead.

On the other hand, the code doesn't change much, i.e. it rarely does.  Only switching from a version to a newer one in the examples was enough to convice me that OLGM still worked with newest versions of GM.

So my opinion is

[2017-11-13 15:09] bampakoa commented on #184
@adube What do you think about introducing a different build mechanism, like Gulp or Webpack, so that it can be more OS aware? It would be more easy for anyone to jump into and start contributing. We could add at least those targets from makefile that are needed for contribution only (not **dist** related targets).

[2017-11-13 15:57] adube commented on #184
@bampakoa In my opinion, we should stick close to how OpenLayers does it.  OL-Cesium is an other good example of a library that combines OL to an external lib (in this case, it's Cesium) and they use the same type of "development" environment.  OLGM is like this too.  I wonder how people contribute to OL or OL-Cesium from a Windows OS...

I honestly don't know about these 2 libs, nor understand ve

[2017-11-13 16:08] bampakoa commented on #184
@adube I can see that OLGM uses Cygwin. Is there any possibility that we can neglect it when developing in Windows?

[2017-11-13 16:25] adube commented on #184
That's not entirely true.  It's what was documented to use for contributers that use Windows.  OLGM doesn't natively use Cygwin.

I never tried it (I'm not using Windows).  If you find a way not to use it, feel free to document it as an alternative.

[2017-11-14 14:51] bampakoa commented on #184
@adube is this version of Java supported:

[code]

[2017-11-14 14:59] adube commented on #184
@bampakoa yes.

[2017-11-14 15:43] bampakoa commented on #184
@adube When I run `make dist-apidoc`, I get the following errors:

[code]

[2017-11-14 16:03] adube commented on #184
Mmm, I'm not sure where this comes from...  Maybe it's because the source from the v3_27 extern file contains code that can't be parsed by the current version of the compiler being used.

Try to upgrade to the latest version of closure-util, which would be 1.25.0 (if I remember correctly, it's closure-util's compiler that's used, but I'm not sure)...

Try this and report back.

[2017-11-15 09:16] bampakoa commented on #184
@adube I updated closure-util to 1.25.0 and the error persists.

[2017-11-15 13:23] adube commented on #184
Here's what I suggest: don't update the extern (for now).  OLGM doesn't use anything that's new in GM 3.27 anyway, so upgrading the extern is not mandatory at the moment.  Testing that the examples still work is more important.

What do you think?

[2017-11-15 13:41] bampakoa commented on #184
Sure! I am currently writing a guide for developing in Windows 10 using the Ubuntu bash:

1. Should I append the content in DEVELOPING_WINDOWS or create a new one?
2. Should I add a note about the `dist-apidoc` problem?

[2017-11-15 13:51] adube commented on #184
Use the existing DEVELOPING_WINDOWS file.

You can create an issue with the description of what happens in there.

Thanks a lot for your work :)

[2017-11-21 10:02] bampakoa opened #188 "Error when running dist-apidoc target in Windows 10"
When trying to run `make dist-apidoc` in Windows 10 using Ubuntu Bash, I get the following error:

[code]

[2017-11-21 10:02] #184 closed, assigned to nobody

[2017-12-07 14:49] szlicar opened #196 "Hiding map when zoom in/out"
Hi,

I've changed my current GIS web app with the olgm script and works great, except a small issue with different zooming functionality comparing to default behavior when using OL3 or Google Maps independent. It seems like that when zoom change event is triggered, the layer gets hidden before starting loading tiles in the new zoom level. The result is that map display gets hidden (showing only ba

[2017-12-07 15:30] adube commented on #135
Multi polygons were implemented in #180

[2017-12-07 15:30] #135 closed, assigned to nobody

[2017-12-07 15:31] adube commented on #196
Here's how OLGM implements OpenLayers and Google Maps together.  An Google Maps map, using their official API, is created.  Then, an OpenLayers map is put on top of it, as a control that takes 100% of the size of the google maps element container.

Then, all navigation tools / interactions from Google Maps are disabled.  Therefore, when we pan the map, we pan the OpenLayers's map. OLGM listens to

[2017-12-07 15:35] adube commented on #196
You might also be interesed in this example: http://mapgears.github.io/ol3-google-maps/examples/dist/examples/watchoptions.html

When "watching", OLGM will pick the layer in question, turn it invisible in OL and create it in Google Maps.  That ensures a fluid animation (especially for vector features).  For WMS, it doesn't do much good.  I.e. while the "watch image layers" is OFF, the layer is kep

[2017-12-12 18:27] tomn98 opened #198 "How to package OpenLayers and Google Maps separately"
This is more of a question instead of an issue.   I didn't know where else I could simply post a question.   Currently, I have ol3-google-maps integrated into a visualization application.  I have a use case where I need to load just non-Google Maps.  In this case, I simply want to load the OpenLayers library without the google maps library integrated because I don't want to provide the Google Maps

[2017-12-12 18:54] adube commented on #198
Hi @tomn98

We faced tis kind of issue in the past.  We ended up picking this solution: we made OLGM "compatible" without loading Google Maps.  See an example of what we did:

https://github.com/mapgears/ol3-google-maps/blob/master/src/olgm/gm/imageoverlay.js#L45-L47

So, technically, you can load OLGM without GoogleMaps and it won't throw any error.  If you try to create anything that requires OL

[2017-12-12 20:03] tomn98 commented on #198
Thanks, @adube, for responding so quickly.   Your response helped, but I don't think it completely answered my question.

Let me try to clarify.  I'm using OLGM in two different scenarios in my visualization application:
   1.  Map containing Google and non-Google layers
   2.  Map containing only non-Google layers (user is not be expecting to include Google Map API
        key for this scenario)

[2017-12-13 13:26] adube commented on #198
@tomn98 You don't need a Google Map API key to "include" OLGM.  The key is only required when loading Google Maps API.

Does that help?

[2017-12-13 19:56] tomn98 commented on #198
@adube I did a few tests using the latest version 0.17.0 of ol3gm.js based on your post.  It's working properly when there are no Google layers.  But, when there is a Google layer, an error occurs.  Here are my steps:

1. I included ol3gm.js statically
2. Load a map w/o Google layer.  Works properly.
3. I then load the Google Maps API using my key,
4. Try to load a map with Google layer.  I get th

[2017-12-13 20:14] adube commented on #198
That is correct.  You must have Google Maps loaded before loading OLGM if you intent to use OLGM.

[2017-12-13 20:36] tomn98 commented on #198
@adube That's what I thought.  This leads back to my original question.  Is it possible during building/packaging of OLGM to not have OpenLayers included into OLGM and simply left as a separate library?  The end-result could be something like ol3.js and and google-maps.js, where google-maps.js requires ol3.js to be loaded first.

[2017-12-13 20:37] adube commented on #198
I don't think that's currently possible, no...

[2017-12-13 23:13] bampakoa commented on #198
@tomn98 I had the same problem and ended up on maintaining separate **index.html** files, one with Google Maps API and OLGM and another with OLGM only.

[2017-12-21 13:05] esleytecnologia opened #199 "Error setting EPSG: 3857 in View Layer"
When I set up **EPSG: 3857** in the **View Layer**, Google's base map does not work.

Here is my code below:

`var projection = new ol.proj.Projection({
        code: 'EPSG:3857',
        units: 'm'
    });
`

`var view = new ol.View({
        center: ol.proj.fromLonLat(center),
        projection: projection,
        zoom: 12,
        maxZoom: 20,
        minZoom: 12
    });`

[2017-12-21 13:20] adube commented on #199
Hi.  I don't know why, but it works if you use this `var projection = ol.proj.get('EPSG:3857');` to get the projection instead.

Would you please try it?

[2017-12-21 13:41] esleytecnologia commented on #199
Using `var projection = ol.proj.get ('EPSG: 3857');` the base map of Google has reappeared, but the Layer that I look for in GeoServer does not load.

[2017-12-29 11:25] bampakoa commented on #199
@esleytecnologia Can you setup a plnkr for this?

[2018-01-05 09:58] JamiesWhiteShirt opened #200 "View and Layers heralds do not handle Map's "change:target""
It is possible to change the target element of a Map. It is also possible to construct a Map without a target element and set it later.

The Layers herald assumes the Map has a target element on construction, and that the target element will not change. https://github.com/mapgears/ol3-google-maps/blob/master/src/olgm/herald/layers.js#L111-L121

This isn't a big issue (we were able to work around i

[2018-01-05 13:29] adube commented on #200
Indeed, it would be nice to enhance this.  Thanks for the report.

[2018-01-09 13:23] adube opened #201 "Travis fails the tests due to SSL handshake failure, works locally"
Travis is reporting an error on `make test` that runs just fine on Node 8 and 9 locally.

The issue is that PhantomJS is silently unable to load the Google Maps API script on Travis. This is not reported by mocha-phantomjs-core because it is configured to ignore resource errors, seemingly because of some failing telemetry by the Google Maps API.

[As you can see in this experiment](https://travis-

[2018-01-09 17:34] flaviocarmo commented on #177
Hi. So, after #175 , what is the way to use the npm package? im making a React.JS app and the ol3gm doesnt work.

[2018-01-09 18:25] fqborges commented on #177
Still not working. I dropped the library and synced the ol view with google maps myself: https://gist.github.com/fqborges/92077c4dbde7b646447990a524f3c41a

[2018-01-09 18:58] adube commented on #177
The way @fqborges does it is fine as long that you don't mind not having OL and GM animations not perfectly the same.

See: https://github.com/mapgears/ol3-google-maps/pull/175#issuecomment-354770427

It was closed due to being obsolete and we should do as OL does: migrate the code to ES modules.  There's not immediate plan to work on this, other than contributions from users.

Does that clarify?

[2018-02-06 16:18] lewinmadrid opened #204 "Extjs problem."
When combining extjs and ol3-google-maps, on window resize, the map is not updated correctly, leaving the map not centered and/or blank areas. After a second window resize the map is drawn correctly.
The same thing happens with or without Geoext.
I'm currently using extjs 6.2.
###
	region:'center',
	layout:'fit',
	title:'Map',
	bodyPadding : 0,
	listeners:{
		afterrender:function(){

			var google

[2018-02-06 16:41] adube commented on #204
OLGM manipulates the target of the map a lot, especially upon activation (if we end up with a base layer that's a google layer).

Try activating olGM asynchronously, i.e. wrap it around a `window.setTimeout` to see if it could fix the issue.

[2018-02-06 17:37] lewinmadrid commented on #204
No luck with the timeout.
###
	setTimeout(function(){
		var olGM = new olgm.OLGoogleMaps({map: olmap});
		olGM.activate();
	}, 1000);

[2018-02-08 10:12] bampakoa commented on #204
@lewinmadrid can you setup a plnkr for that?

[2018-02-08 12:13] lewinmadrid commented on #204
Had problems getting a plunkr to work. Sorry.
I've attached a zip file that includes the dependencies.

[ol4_ext6.zip](https://github.com/mapgears/ol3-google-maps/files/1706954/ol4_ext6.zip)

[2018-02-21 10:28] bampakoa commented on #204
@lewinmadrid You need to notify the browser window for the resizing

[code]

[2018-02-23 08:42] geopamplona opened #208 "error compile v0.19.0"
Hello,

I m trying compile new release, but i have next error:

$  node build/build.js build/ol3gm.json ol3gm-custom.js
info ol3-google-maps Parsing dependencies
info ol3-google-maps Compiling 384 sources
ERR! compile dist/exports.js:2826: ERROR - Property extent_ never defined on ol.interaction.Extent.Event.prototype
ERR! compile     ol.interaction.Extent.Event.prototype.extent_);
ERR! compile

[2018-02-23 13:31] adube commented on #208
Hello there!

The instructions to build the library are included in the [DEVELOPING.md](https://github.com/mapgears/ol3-google-maps/blob/master/DEVELOPING.md#working-with-the-build-tool) file, i.e. it's with the build tool.

Here's what I did:

[code]

and it compiled successfully.  I also tried using npm:

[code]

You don't need to generate the exports anymore.  It used to be useful back when the

[2018-02-23 13:53] geopamplona commented on #208
perfect !

clean compile without errors.

thanks very much

[2018-02-23 13:53] #208 closed, assigned to nobody

[2018-02-27 17:45] lewinmadrid commented on #204
Thanks, that fixed it!

[2018-02-27 18:18] #204 closed, assigned to nobody

[2018-03-22 22:54] flyfishMT opened #210 "draw interaction condition parameters"
Why am I getting a different object as the parameter to the condition method in ol3-google-maps v0.19 than I do with stock openlayers 4.6.4?

The following code works in openlayers 4.6.4, but `pointerEvent `does not exist on parameter `e` with ol3-google-maps.

[code]

[2018-03-23 12:36] adube commented on #210
Hello @flyfishMT.  Thanks for your interest in ol3-google-maps!

Okay, I understand what's going on.  Let me explain.

`e` is an instance of the `ol.MapBrowserPointerEvent` class.  See: https://github.com/openlayers/openlayers/blob/v4.6.4/src/ol/mapbrowserpointerevent.js#L16

As you can see, this class does have the `pointerEvent` property you are referring.  However, it is not an "API" property,

[2018-03-23 15:34] flyfishMT commented on #210
@adube - I would rather use the actual API I didn't realize I wasn't.  Your solution works great. Reading through openlayers issues, I found this which is related - [5453](https://github.com/openlayers/openlayers/pull/5453)
And I should have said originally,  thanks for your hard work on this library!

[2018-03-23 15:34] #210 closed, assigned to nobody

[2018-03-23 15:46] adube commented on #210
Thanks for the feedback and kind words.  Happy coding!

[2018-04-13 14:15] ckapop commented on #158
Any updates to this or workarounds?

[2018-04-13 14:30] adube commented on #158
No updates, but this shouldn't be too hard to fix.  We could use the OpenLayers' `ol.uri.appendParams` method instead of manually adding each param manually.

If you would like to work on a fix for this, I'd be happy to do a review.

[2018-04-16 19:49] ckapop commented on #158
If we were to add manually where would be the best place to do this?

[2018-04-17 14:01] adube commented on #158
@ckapop I ended up creating a patch, as it was simple enough for me to do rather than trying to explain how I'd like this to be fixed.  Would you please try the fix in #212 and tell me if that fixes your issue?

Thanks.

[2018-04-17 15:04] ckapop commented on #158
I actually spent some time and fixed it as well. I will compare what I did with your fix.

However, we are still having an issue even after this fix with using setImageLoadFunction. It seems this doesn't update the source url_. We need because use a proxy to get at the WMS data. I am thinking this is due to the cache and relates to "View and Layers heralds do not handle Map's "change:target" #200"

[2018-04-17 15:46] adube commented on #158
It would be nice if you could provide a simple online demo of what you're trying to do that causes the issue, using jsfiddle or something like that.  This would help demonstrate the problem you're having.

I think the fix proposed in the PR is good to fix the issue described here.  Would you please tell me if the original issue you're having is fixed with the PR?

For any other bug/problem, please

[2018-04-17 16:05] ckapop commented on #158
Yes, Your fix is essentially what I did. Not sure why you borrowed the ol.uri.appendParams function to create an olgm.uri.appendParams function. We have access to the ol.uri.appendParams, correct?

I will open another issue for the other problem. Thanks!

[2018-04-17 16:11] ckapop opened #213 "When using setImageLoadFunction it doesn't update parent source layer url."
The [setImageLoadFunction](https://openlayers.org/en/latest/apidoc/ol.source.ImageWMS.html#setImageLoadFunction) in OpenLayers is useful to proxy to another url for WMS loading. With OL we could use this function and the source layer that contained the image would update its url as well at the image.

With ol3gm it seems after this image callback is called the source layer url doesn't change along

[2018-04-17 17:16] adube commented on #158
@ckapop You are correct that normally we should have access to this method, but the way olgm is currently runs the example doesn't allow the use of anything that's not marked as `@api` in OpenLayers.  This is something that should be fixed once we change the way we package olgm.

[2018-04-17 17:17] #158 closed, assigned to nobody

[2018-04-17 17:26] adube commented on #213
I don't have much knowledge of this feature.  It would be nice if you could produce a small online example that would demonstrate what lacks in olgm to support this.  Or even better you could also create a branch and add an example in there that demonstrates the issue.  This branch could be the sandbox where we could debug/work on this issue.

If you're willing to work on this, I'd be happy to rev

[2018-04-17 17:47] ckapop commented on #213
I will try and create a example soon. Basically it has to do with the setImageLoadFunction callback which allows you to change the image's src url to something different (proxy url).

The problem is that if you supply a callback it gets triggered before this function: olgm.herald.ImageWMSSource.prototype.updateImageOverlay_  which generates a new url using generateImageWMSFunction_. This url never

[2018-04-17 18:13] adube commented on #213
Mmm... this makes it difficult (maybe even not possible) for olgm to be aware of this url...  It's defined within a method that's not accessible to olgm... mmm...

I don't have any smart solution for this (yet)...  Maybe we could define a custom parameter (something like `source.set("myCustomUrl")` and make olgm look for this `myCustomUrl` from there instead? I suspect you don't want to change the

[2018-04-18 17:12] ckapop commented on #213
I did find a workaround that seems to work. Inside the `setImageLoadFunction ` function that updates the img url I also updated the url of the source like this:
[code]

It seems to work in our initial tests.

[2018-04-18 17:30] adube commented on #213
Thanks for sharing this.  I know that `this.source_.url_ = ...` would not work compile because `url_` is a private property.  It's fine to override them when you know what you're doing, but just beware that these properties are supposed to be private for a reason.

This kinda looks like what I had suggested, but instead of setting the `url_` private property, we could do a `source.set("olgmAlterna

[2018-04-18 17:55] ckapop commented on #213
Yes, I know it is not ideal and I agree. I tried initially to use this.source_.setUrl(newUrl) but it wouldn't work. Its seemed to trigger the `setImageLoadFunction ` again and then just loop.

I do like your idea better. I will try switching to that after we confirm we are on the right track after testing.

[2018-05-16 12:29] guyBy opened #216 "added layers are not coordinated with google map"
did something change with google api.
search and +/- in addition to selected layer do not correspond with google map, and an offset is generated during zoom/move operations.
Thanks

[2018-05-16 14:04] adube commented on #216
Something did change Google Maps as part of 3.32, which may affect how things are handled in olgm.  See the [Google Maps API Release Notes](https://developers.google.com/maps/documentation/javascript/releases).  There seems to be a new renderer.

I can see that there's a difference in behaviour between 3.31 and 3.32.  See the live olgm example here:http://mapgears.github.io/ol3-google-maps/example

[2018-05-18 13:38] adube opened #217 "Issue with ImageOverlay with Google Maps v3.32+"
I came across an issue that rarely happens with Google Maps v3.32+.

In the `olgm.gm.ImageOverlay` class, the `onRemove` remove can be called while `this.div_` is null, which throws an exception that is catched by Google Maps but prevents anything from working after that.  I don't know what's the cause (maybe onRemove is being called twice?), but figured that a quick fix does the trick:

[code]

O

[2018-05-18 15:07] #217 closed, assigned to adube

[2018-05-21 16:13] tzarick opened #221 "Rotation feature glitches"
When trying to add functionality for rotating the map (using the rotation example (https://github.com/mapgears/ol3-google-maps/blob/master/examples/rotation.js) as a guide, the map seems to be confused about the axis. Dragging down causes the map to move sideways, and zooming out or in zooms incorrectly off-axis because it seems like there is a hidden rotated layer underneath or something. This be

[2018-05-22 12:18] adube commented on #221
I remember this feature used to work properly in the past.  I saw the current behaviour and I wasn't like that before.  This could be due to a change in Google Maps API and/or OpenLayers.

This will have to be fixed, as there's currently no way around this other than that.

A contribution would be welcomed.  Please, feel free to work on a patch for this and I'd be happy to review.

[2018-05-30 05:53] kumarAniket opened #222 "Integrating with Angular 5"
Can you please share the code to use the ol3 google maps with angular 5

[2018-05-30 09:31] bampakoa commented on #222
@KumarAniket can you give some more details? Do you have trouble on setting things up or rendering the map on your application?

[2018-05-30 09:34] kumarAniket commented on #222
Can you help me with using the AirMap layers with ol3-google-maps. I want to show FAA controlled airspaces as show on AirMap on google maps.

[2018-05-30 09:37] bampakoa commented on #222
I would suggest to set up your project first and try to add ol3-google-maps library. Then, if something does not work, you can come back here or in SO which is more appropriate for these type of problems. I hope that helps!

[2018-05-30 09:39] kumarAniket commented on #222
I am done with the setup of the ol3-google-maps library.

[2018-05-30 09:40] kumarAniket commented on #222
I want to display the AirMap layers on the ol3-google-maps. Please help me how to go about that.

[2018-05-30 10:49] kumarAniket commented on #222
Need help with implementing the RuleSets API of airmap.

[2018-05-30 12:18] adube commented on #222
@KumarAniket I think the best place to ask for help would be StackOverflow.  Try:

https://stackoverflow.com/questions/tagged/ol3-google-maps

You can also add the google-maps tag, and mention air-map too.

[2018-05-30 12:19] adube commented on #222
@KumarAniket Do you know the type of license of AirMap?  It doesn't seem to be an OpenSource project.  Please, let me know.

[2018-05-31 09:17] kumarAniket opened #223 "Help: Adding a Search Functionality in Google Maps"
I wanted to add a search box functionality wherein a user could enter a location and as per the location entered the map should pan and zoom to the location.

[2018-05-31 12:10] adube commented on #223
@KumarAniket Your question doesn't seem related to olgm.  See: https://developers.google.com/maps/documentation/javascript/examples/places-searchbox

Please, ask your questions on Stack Overflow, using the "google-maps" tag.

[2018-05-31 12:10] #223 closed, assigned to nobody

[2018-05-31 12:11] adube commented on #222
@KumarAniket Please, ask such questions on Stack Overflow.  You'll have a much higher probability of receiving responses.  Thanks.

[2018-05-31 12:11] #222 closed, assigned to nobody

[2018-06-18 09:24] guyBy commented on #121
zIndex still not working with ol3-google-maps.
Is there any workaround to control features layers ordering?
Thanks

[2018-06-18 12:04] adube commented on #121
Not that I'm aware of, as this feature has not been implemented in ol3-google-maps.

Don't hesitate to contribute a patch.  I'd be happy to review it.

[2018-06-27 08:30] JamiesWhiteShirt opened #226 "Update to OpenLayers 5"
[OpenLayers 5 was recently released.](https://github.com/openlayers/openlayers/releases/tag/v5.0.0)

OpenLayers has now migrated all their code to ES modules, which breaks the development and build process of ol-google-maps. As previously stated, ol-google-maps should also migrate to ES modules.

The code shifting introduced in #175 can be used to migrate the current source, but tests and examples

[2018-07-12 13:56] JamiesWhiteShirt commented on #226
@adube Just letting you know that I'm working on this in the [`olgm` branch of my fork](https://github.com/JamiesWhiteShirt/ol3-google-maps/tree/olgm).

There has been a lot of innovation in the OpenLayers development workflow that I am trying to inherit as well.

[2018-08-15 13:41] adube opened #228 "Single tile WMS layer no longer fluid with latest versions of Google Maps API"
Google Maps recently developed a new renderer for their map, as mentioned here: https://developers.google.com/maps/documentation/javascript/new-renderer

With this new renderer, the way OLGM handles the WMS single tiled layers is no longer fluid.  While animating, the image seems to slide.  Here's how it looks like now:

![output](https://user-images.githubusercontent.com/432436/44150956-24c04bee-

[2018-08-21 15:08] JamiesWhiteShirt commented on #201
This appears to be fixed with the ES modules refactoring.

[2018-08-21 15:13] adube commented on #201
Indeed.  Closing now...

[2018-08-21 15:13] #201 closed, assigned to nobody

[2018-08-21 15:14] adube commented on #226
The code of OLGM has been migrated to ES modules.  This is now fixed.

[2018-08-21 15:14] #226 closed, assigned to nobody

[2018-08-21 22:49] JamiesWhiteShirt opened #230 "Incorrect NPM publication"
The NPM package currently doesn't work as intended. It appears the entire repository has been published to NPM, which is not the intended procedure.

The `build-package` task defined in package.json is designed to create a publishable package in `build/olgm`. This assigns a version constant and creates a simplified package.json, as defined in `tasks/prepare-package.sh`. I understand this might be

[2018-08-22 12:12] adube commented on #230
My apologies.  How it was done is the way I was used to.  I'll make an other release, no worries.

[2018-08-22 12:29] adube commented on #230
Please, let me know if that's okay with you: https://www.npmjs.com/package/olgm

I also recommend that we copy the readme file.

[2018-08-22 13:22] adube commented on #230
Fixed in #231

[2018-08-22 13:22] #230 closed, assigned to nobody

[2018-08-23 15:20] JamiesWhiteShirt commented on #172
https://www.npmjs.com/package/olgm

[2018-08-23 15:20] #172 closed, assigned to nobody

[2018-09-05 11:04] bampakoa opened #232 "Instructions how to use the new OLGM package"
You mentioned in [OLGM v1.0.0-beta.2](https://github.com/mapgears/ol3-google-maps/releases/tag/v1.0.0-beta.2) release instructions that there is no distributed package anymore and one should build its own OL-OLGM bundle. Is there any guide on how to do this?

[2018-09-05 13:06] adube commented on #232
Building OLGM and OL alongside your own project should work.  You can try to follow this tutorial: http://openlayers.org/en/latest/doc/tutorials/bundle.html

Install `olgm` as well, i.e. `npm install olgm`.

You can also look at the examples in OLGM: https://github.com/mapgears/ol3-google-maps/blob/master/examples/simple.js

Please, let us know if that helped.

[2018-09-06 14:19] bampakoa commented on #232
@adube Got it! I thought that we need to have separate bundles but in my case webpack did the trick. Everything worked perfect in our application with the new version. Good job to all!

[2018-09-06 14:19] #232 closed, assigned to nobody

[2018-09-06 14:22] adube commented on #232
@bampakoa Thank you very much for the nice feedback!

[2018-09-07 09:04] meneva opened #233 "ol3-google-maps in ionic application"
Hello I am trying to implement ol3gm into my ionic application but it just shows "Uncaught (in promise): ReferenceError: olgm is not defined" my code is as below:
`import Map from 'ol/Map.js';
import GoogleLayer from 'olgm/layer/Google.js';
import {defaults} from 'olgm/interaction.js';
import OLGoogleMaps from 'olgm/OLGoogleMaps.js';

ngOnInit() {
        console.log(window.localStorage['userInfo'

[2018-09-07 09:11] bampakoa commented on #233
@meneva which version of the library do you use?

[2018-09-07 09:24] meneva commented on #233
thanks bampakoa... I am using olgm Version: v0.20.0

[2018-09-07 09:53] bampakoa commented on #233
Your source code tries to use [OLGM](https://www.npmjs.com/package/olgm) 1.0.0 which is currently in beta. I think that you need [OL3GM](https://www.npmjs.com/package/ol3-google-maps) package.

[2018-09-07 13:46] meneva commented on #233
can u pls suggest me how i can import ol3gm into my ionic app. I just stuck on the matter.

[2018-09-07 13:56] bampakoa commented on #233
Check the [quick start](https://github.com/mapgears/ol3-google-maps/tree/v0.20.0) details of the OL3GM package.

[2018-09-07 16:45] meneva commented on #233
yes... I followed the example given in OL3GM package... but it always shows olgm undefined error. It's too much frustrating. No example for ionic apps

[2018-09-07 17:24] bampakoa commented on #233
Where do you reference the bundle of OL3GM in your code?

[2018-09-07 17:27] adube commented on #233
@meneva If you're using version v0.20.0, then you shouldn't use 'import'.  The live examples still use v0.20.0, i.e. https://github.com/mapgears/ol3-google-maps#live-examples, so you could look at the source code of those examples to see how to use ol3gm.

See an example:

 * http://mapgears.github.io/ol3-google-maps/examples/dist/examples/simple.html
 * source code: http://mapgears.github.io/ol3-

[2018-09-07 17:51] meneva commented on #233
I think the ol3gm.js file is not included properly in my script. can u pls tell us how to include
<script src="../ol3gm.js"></script>
into ionic view file. As far as i know it should be imported to module file(**xyz.ts** file) not in the view file.

[2018-09-07 18:11] bampakoa commented on #233
@meneva I am not very comfortable with Ionic but I think that you cannot include a Javascript file inside an Ionic view using the `script` tag. Usually, this type of asset is added in the `index.html` file or in a configuration file if you are using a bundler such as webpack. Anyway, this type of question would be a better fit for SO or Ionic forums.

[2018-09-15 09:46] knandhucse commented on #42
Hello, Any update on using the traffic layer inside the open layer map. Please help me on how to achieve that.

[2018-09-15 12:30] adube commented on #42
If you're using ol3-google-maps v0.20.0 or lower, see how it's done in this example:
 * http://mapgears.github.io/ol3-google-maps/examples/dist/examples/traffic.html

If you're using v1.0.0-beta.4, see the source code of the same example (updated to use modules):
 * https://github.com/mapgears/ol3-google-maps/blob/master/examples/traffic.js

HTH

[2018-11-02 04:26] justinstenning opened #234 "Google map does not start zoom animations until after OL animations are complete"
I have found that when performing zoom operations the google layer does not update until after the OL animation has completed.

For example, the following will exaggerate the issue by setting OL zoomDuration to 5secs:
```interactions: defaults({zoomDuration: 5000}),```

To remove the delay altogether:
```interactions: defaults({zoomDuration: 0}),```

If toggling the google layer you would need to

[2018-11-02 11:46] adube commented on #234
You are right about this issue.  Thanks for reporting it.

However, it may be related to the new Google rendering engine.  v3.31, which used the old one, has been deprecated and is no longer returned, see: https://maps.googleapis.com/maps/api/js?v=3.31

Also: https://developers.google.com/maps/documentation/javascript/versions

I remember that back with v3.31 and less the issue was not present, bu

[2018-11-14 09:09] minminminminminmax opened #235 "Ordering of the overlays gets broken when google maps layer is used"
We have olgm, osm as baselayers and several  TileWMS overlays
To show/hide layers layer.setVisible(value) is used.

Ordering of overlays gets broken when google maps is enabled, so top most  becomes the overlay which is lastly made visible.

This behaviour happens only when googlemaps layer is in use are used and not in other case (with OSM and other Tile layers).
Switching between googlemaps laye

[2018-11-14 13:18] adube commented on #235
Would you please provide a live and short examples that demonstrates the issue?  I've looked at the existing examples and could not reproduce it using them.  Knowing what configuration are used to reproduce the issue would help figuring out where it comes from.

Thanks.

[2018-11-15 02:54] balab2020 opened #236 "Two finger pan is not smooth in touch screens"
I have tested greedy touch option with google map, it is not smooth. I mean, map does not pan when I use two finger drag/pan. It pan to map at the end of gesture complete.

Also, I noticed that, google map instance is created with draggable with false in options. that property is deprecated now. Please refer google API.

https://developers.google.com/maps/documentation/javascript/interaction

[2018-11-15 06:47] balab2020 commented on #236
You can test this behavior on any touch screen using two fingers pan with http://mapgears.github.io/ol3-google-maps/examples/dist/examples/simple.html

It works smoothly on google maps page https://www.google.co.in/maps

[2018-11-15 13:14] adube commented on #236
@balab2020 Thanks for reporting.

Would you please contribute a patch to fix this issue?  I would gladly review.  Thanks.

[2018-11-29 03:32] justinstenning commented on #234
I'm experiencing a few other graphical glitches that I am not seeing in the examples, so will wait until I have had a chance to look into these also (they result in overlays not animating in line with the google map, appearing to slide in from the top left/bottom right corner when zooming).

[2018-11-29 05:53] spazzarama commented on #234
Setting zoomDuration: 0, causes other unwanted side effects - specifically for single tile ImageWMS layer. When zooming in/out, the layer will slide in from the top left or bottom right. Using zoomDuration: 0, doesn't have the problem. I couldn't reproduce with the WMS example in ol3-google-maps, but perhaps it is a timing issue and the layer I have access to is a lot quicker.

[2018-11-29 06:45] spazzarama commented on #234
It appears to be a broader issue with ImageWMS sources. If I change the WMS example to point to a local Geoserver installation, the same behaviour occurs with the ImageWMS source of the states. I'll submit another issue.

[2018-11-29 06:54] justinstenning opened #238 "Image + ImageWMS slides in during zoom in/out"
When using an Image layer with ImageWMS source that is fast, the layer will slide in from the top left when zooming out, and from the bottom right when zooming in. I don't really know where to start to diagnose further or to fix. I'm assuming this is related to the new Google rendering engine in v3.32+.

Screenshot of when zooming out, the image slides in from the top left (note that the overlay i

[2018-11-29 07:09] justinstenning commented on #238
Duplicate of #228

[2018-11-29 07:09] #238 closed, assigned to nobody

[2018-11-29 07:10] justinstenning commented on #228
@adube any ideas on how to implement these changes? I am working in this area for the next few months so could look into it if I had some pointers.

[2018-11-29 07:12] justinstenning commented on #234
The glitches I was experiencing were from #228. The zoom issue itself remains.

[2018-11-29 13:12] adube commented on #228
@spazzarama Not exactly, but I would start by looking at this example as a point of entry to a potential solution: https://developers.google.com/maps/documentation/javascript/examples/maptype-image

The `google.maps.ImageMapType` could be solution.

[2018-12-19 21:35] kimchirichie opened #239 "Capture and export tile to image"
Map exporting using `canvas.toBlob(function)` like in [openlayers export example](https://openlayers.org/en/latest/examples/export-map.html) does not work as expected.
All other layers, such as vector layer, can be seen in the generated image file. However, the google maps tile is excluded in the generated image. Viz,
![download](https://user-images.githubusercontent.com/9277484/50249302-784e0b80-

[2018-12-20 13:12] adube commented on #239
Exporting a Google Maps map would be a violation of their Terms of Service.  You simply can't do that.

https://cloud.google.com/maps-platform/terms/

But, for the record, it is not exported in OLGM because it uses their Google Maps JS API to render the Google Maps map as required by their Terms of Service, and OpenLayers is rendered on top of it.  So, exporting OL only will only output layers fro

[2018-12-20 13:12] #239 closed, assigned to nobody

[2019-01-03 12:42] #176 closed, assigned to nobody

[2019-01-14 13:05] Nathanfrduarte opened #243 "Popup with nav-tabs do not work in openlayers 3"
I have a map with openlayers3, made with ol3-gm, and a marker in it. This marker has a popup in which I used the openlayers examples, everything works fine. The problem is in the popup. It was done using nav-tabs from the bootstrap. It works perfectly when it's separate from the project, but when placed in the marker's popup, it does not work. The popup opens normally, but the tabs do not work. Wh

[2019-01-14 13:42] adube commented on #243
Your issue is well explained and I found myself having similar problems with bootstrap tabs when adding them in elements that are in an OL map.  Your solution 1) fixed the problem for me.

I'm guessing it is not a problem related to OLGM itself, but without actually being able to see it in action there isn't much that can be done.

Would you please create a small JSFiddle that would reproduce the

[2019-01-17 10:44] Nathanfrduarte commented on #243
Well, I solved the problem, not the way I'd like it, but ... okay. I had to make the popup tabs with pure html, with css and javascript obviously. I did not find out why the bootstrap did not work.
I'll post a JSFiddle with my solution later.
But thanks to you.

[2019-01-17 13:12] adube commented on #243
Glad to hear you were able to solve it.  I'll close this issue now.

Happy coding!

[2019-01-17 13:12] #243 closed, assigned to nobody

[2019-02-01 15:36] YoussefTizi commented on #233
hi @meneva  are you find any solution about this issue?

[2019-02-07 21:19] rawsonl commented on #136
I have this exact issue.  If I used the "callback" after the "key" params I get this error.  I would really like the ability to utilize a callback from the map.  That way I can ensure the map is loaded before doing any processing.

[2019-02-08 12:09] Nathanfrduarte opened #244 "Capture properties of a feature that is in a Cluster"
I have many markers (features) in a map (google maps), and they have a popup where according to which I click, its content is different according to the properties of the features. They work very well.

When clustered features, I can not capture the properties of each, just the vector properties of the cluster, making my popup appear *undefined*.

How can I capture the properties of the markers th

[2019-02-08 13:06] adube commented on #136
Please, feel free to provide a patch.  It would also be nice to have a new example featuring how RequireJS can be used with OLGM, which would demonstrate the fix in action.

[2019-02-08 13:09] adube commented on #244
Are you using the Google Maps API to render your clusters?  If so, then this is the wrong place to ask this question.  You should ask on Stack Overflow instead, using `google-maps-api-3` as tag.

[2019-02-08 13:28] Nathanfrduarte commented on #244
No, no. I'm using the Openlayers 3, more specifically ol3-gm, to render the map of google.

Everything else is openlayers own resources, like the markers, cluster, popup, and all.

[2019-02-08 13:33] adube commented on #244
Gotcha.  Then I suppose you're looking for:

[code]

Is that correct?

[2019-02-11 12:11] Nathanfrduarte commented on #244
hmm, so doing this, through the variable features I can access the properties of the cluster feature?

[2019-02-11 12:28] Nathanfrduarte commented on #244
hmm, so doing this, through the variable features I can access the properties of the cluster feature?
Because I could not do it. I have to access to the individual properties of each feature in cluster, that's the point

[2019-02-11 13:13] adube commented on #244
You can.  Try this:

[code]

[2019-02-13 17:59] Nathanfrduarte commented on #244
Hmm, take a look in my code:
[code]
What do you think?

[2019-02-13 18:09] adube commented on #244
You're close. The feature you get is a cluster.  Within that cluster, you have the original features.  So, you can do:

[code]

And you'll have access to the features within the cluser.  HTH.

[2019-02-14 11:34] Nathanfrduarte commented on #244
Yes! I'm almost there! But as are many features, how can I capture for example only the Id of the marker clicked? Because with this, I have all, and to access a specific Id, I need your index, and i don't know it.

[2019-02-14 12:41] Nathanfrduarte commented on #244
Hey, I got it!!! You opened my mind a lot.
I changed my code above and what i did was a foreach to go through the markers and a filter when the size of the cluster reaches 1:
[code]
I'm very grateful for your help Adube. You are the best!

[2019-02-14 13:55] adube commented on #244
I'm glad you could solve your issue.  Happy coding!

[2019-02-14 13:55] #244 closed, assigned to nobody

[2019-02-20 07:45] justinstenning opened #245 "Problem toggling from OSM to Google when multiple Google layers"
I have a map configured with 4 layers, 3 Google layers, the default (`road`), `hybrid` and `terrain` and then an OSM layer (which is the initially visible base layer and is ordered below the google layers).

It appears that if switching from OSM to the hybrid, satellite or road - when one of the other google mapTypeId's were previously active the LayerHerald's refresh attempt using a resize is not

[2019-02-20 09:53] justinstenning commented on #245
The following code in the concept.js example reproduces the issue, with it breaking when it gets to the satellite layer (case 2).

[code]

![image](https://user-images.githubusercontent.com/933730/53082709-89152c00-3551-11e9-9531-efc3dd8e140f.png)

[2019-02-20 13:26] #245 closed, assigned to nobody

[2019-02-22 04:47] justinstenning opened #247 "Config to allow watch options for individual Vector layers"
I have multiple vector layers. One of these I wish to change the styles of at runtime to reflect different edit modes. The styles are quite complex and are not currently supported by OLGM (e.g. geometry function to display points for the vertices of a polygon as seen in this OL example: https://openlayers.org/en/latest/examples/polygon-styles.html).

I am able to either set all vector layers to be

[2019-02-22 13:08] adube commented on #247
Hello @spazzarama!

Implementing a way to avoid a particular layer from being watched by an herald seems like a good idea.  Here's how it would see this.  Such layers could have a specific property set that would tell heralds not to watch them.

The `LayersHerald` would be responsible of doing that check, in the `watchLayer_` and `unwatchLayer_` methods.  The property could be something like `olgm

[2019-02-24 08:45] justinstenning commented on #247
Sounds good, not sure if it would be able to respond to changes to the setting, I will look at that secondary to just being able to do it when layer added.

[2019-03-08 12:58] #247 closed, assigned to nobody

[2019-03-21 21:02] #188 closed, assigned to nobody

[2019-06-07 04:09] justinstenning opened #255 "Support for GeometryCollection in VectorFeatureHerald"
Currently a geometry of GeometryCollection is not supported by the VectorFeatureHerald and results in the following assertion failure: `Assertion failed: Expected geometry to be module:ol/geom/Point|MultiPoint|LineString|MultiLineString|Polygon|MultiPolygon`

Google Maps API appears to support a GeometryCollection by passing the sub-geometries to the constructor of https://developers.google.com/ma

[2019-06-12 08:25] JamiesWhiteShirt opened #256 "Cannot set property 'transform' of undefined with Google Maps API v3.37"
[code]

It appears with v3.37 two additional style elements are added as children of the gmap div. This breaks the assumption that the first child node of the gmap div is the one containing the "tilesDiv". The View herald is attempting to set the style of the text node in the style element.

This does not always result in an error, so there is probably some randomness in the timing of the insertio

[2019-08-16 19:34] mstenta commented on #37
I just created a pull request which alters the GoogleLayer class to extend from `ol.layer.Layer` instead of `ol.layer.layerGroup`. It was pretty simple - aside from changing the class declaration, the only other thing I needed to do was set `this.type = LayerType.TILE` (following the pattern of `ol.layer.Tile`).

https://github.com/mapgears/ol3-google-maps/pull/259

This seems to work the same as

[2019-08-16 19:42] adube commented on #37
I took a quick look at the ol-layerswitcher code and it checks if the OL layer has the `getLayers` method to determine if it's a Group.  Without checking further, we can guess that it was a problem that OLGM's layer inherited from Group.

See: https://github.com/walkermatt/ol-layerswitcher/blob/master/src/ol-layerswitcher.js#L390

We now be facing an other issue.

[2019-08-16 19:46] mstenta commented on #37
Yes that's correct - and that's why it was necessary to set `combine: true` for a GoogleLayer to work in layerswitcher. With #259, that is no longer necessary...

But it still doesn't work inside a sub-group... So I agree - it might be another issue.  :-/

But, #259 is still a good first step... as soon as I can figure out why Travis test failed. :-)

[2019-08-17 14:35] #256 closed, assigned to nobody

[2019-08-20 21:04] mstenta commented on #37
I just tested this with a bare minimum setup: one Google layer inside one LayerGroup (no other layers involved). I just see a white screen on the map. Controls and everything else seem to work though.

Notably, looking at the Network tab in Firefox, there are no requests being made to load Google tiles.

Just the loading of `https://maps.googleapis.com/maps/api/js?v=3&key=[key]` and a call to `htt

[2019-08-20 21:14] mstenta commented on #37
Another (possibly unrelated) issue I'm seeing: if I have a vector feature layer rendered over a Google layer, and I uncheck the vector layer in the layer switcher, it does not disappear from the map. However, if I switch from a Google layer to the OpenStreetMap layer, it disappears. And then if I switch back to the Google layer it is also gone there.

If I then re-enable it by clicking the checkbo

[2019-08-20 21:19] mstenta commented on #37
So just a quick summary for anyone reading up to this point, it seems that there are (currently) 3 issues with `ol3-google-maps` + `ol-layerswitcher` compatability:

1. Because `GoogleLayer` inherits from `LayerGroup`, you must add `combine: true` to your Google map layer definition for it to work with layer switcher. This is fixed by https://github.com/mapgears/ol3-google-maps/pull/259
2. If you

[2019-08-21 14:31] adube commented on #37
@mstenta Thank you very much for these details.

[2019-08-22 14:32] mstenta commented on #37
I think issues 2 and 3 described above are related. And I'm also noticing that sometimes I get a white screen when I toggle back and forth between Google layers and another layer (like OSM or MapBox). And that happens even when they are all on the root layer level (not in a sub-group).

I don't know enough about how the "herald" code works to relay actions back and forth to the Google layers - but

[2019-08-23 05:51] boomdrak opened #260 "Release new NPM package"
Hi there,
We need a new NPM package including some merged PRs in master branch.
Is it possible to release a new package?

https://www.npmjs.com/package/olgm

[2019-08-23 11:13] adube commented on #260
Yes.  I'll take care of it this weekend.

[2019-08-23 11:21] boomdrak commented on #260
Just dandy! :D

[2019-08-24 12:26] adube commented on #260
The new 1.3.0 release is now available on npm.  Thanks to all the contributors and happy coding!

https://www.npmjs.com/package/olgm

[2019-08-24 12:26] #260 closed, assigned to adube

[2019-09-02 07:58] justinstenning opened #264 "Setting minZoom to larger than 0 breaks Google layer"
Setting minZoom of the View to a value other than 0 causes Google layer to display the incorrect zoom and will remain at an incorrect zoom compared to the Open Street Map layer.

For example when setting the minZoom of the concept example to 1, the Google layer appears more zoomed in than the initial zoom of 4, toggling between Google and OSM you can see that OSM is still correct. Panning the map

[2019-09-03 18:42] hspain commented on #133
Has there been any development along these lines?  I am also looking to use these two libraries together.

[2019-09-03 18:48] adube commented on #133
No development has been made so far.  Contributions would be appreciated.

[2019-09-10 16:48] hspain commented on #133
I would love to contribute here.  Any chance I can get a bit of insight as to where in the codebase I should focus?

[2019-09-10 17:25] adube commented on #133
The library by itself is that big.  Its main component is the OLGoogleMaps class, which describes (in the class description) what is the basic idea behind OLGM:

https://github.com/mapgears/ol3-google-maps/blob/master/src/olgm/OLGoogleMaps.js

You'll see what heralds are and what they do.

[2019-09-25 12:56] felixh85 opened #278 "Help bundling project for front end use"
Hi,
first this is not an issue but a request for help. I am totally new to node JS and I would really appreciate if someone could help me out generating a JS library file olgm.js for the current version. I have already googled this problem and tried a lot of stuff but I could not manage to generate the file I want. The OLGM should be integrated into an Apache Wicket Web Application.

**What do I w

[2019-09-25 13:32] geopamplona commented on #278
Hello,
I use the following package ol+webpack:

https://github.com/openlayers/ol-webpack

You can use this project as a basis for working with webpack and npm, and then integrate with olgm and run google layers

[2019-09-26 12:17] felixh85 commented on #278
Hi GeoPamplona,
Thank you for your answer. I checked out the ol+webpack package and tested it a little bit. However, I still did not manage to generate the file I need. I would really appreciate, if you could give me another hint.

**This is what I did:**
I downloaded the ol-webpack package and ran the test case inside with success. Next I added the olgm to the dependencies in the package.json and

[2019-10-02 06:07] geopamplona commented on #278
Hi,

Try adding google apis before loading the bundle; this is important
With valid api key !
Follow steps from https://github.com/mapgears/ol3-google-maps#getting-started
you can follow the example:

[code]
For quickly develop with webpack you can use Webpack web server (https://webpack.js.org/configuration/dev-server/ or https://github.com/webpack/webpack-dev-server)

I will try create a repo th

[2019-10-02 14:02] felixh85 commented on #278
Hi GeoPamplona,
Thank you again for your feedback. I would appreciate if you could create repo which includes all the necessary libraries. This way, I hope I will be able to generate the required JS file. It will also probably help others like me who are inexpirienced with NodeJS.

As I was not getting anyware with my problem, I tried another approch which can be found [here](http://mikenunn.16mb.

[2019-10-03 07:05] geopamplona commented on #278
Hi @felixh85,

I have created this example of integration between `olgm` + `webpack`
https://github.com/geopamplona/olgm-webpack
Its OK for me, and run corretly

Don't forget to change the apikey in `index.html`
Hope this can help you.

@adube do you think it is interesting to add this repo in some way in `olgm` readme?

[2019-10-03 12:27] adube commented on #278
It would be interesting, yes.  Would you please provide a PR and refer this issue?  After landing it, we would close this issue.

Thank you very much!

[2019-12-03 14:47] wussup opened #280 "TypeError: this$1.innerListener_.unlisten is not a function"
Hello, I have an issue when try to set a new view on the map:

PropertyListener has next code:

[code]

The problem is here:

`this$1.innerListener_.unlisten();`

Probably because this$1.innerListener_ is a table of listeners:

I do it to change the projection of the map.

Versions:
- olgm -> 1.5.0
- ol -> 5.3.3

[2019-12-03 15:14] adube commented on #280
An extra "if" could be added there to check if the innerListener_ is an array and loop if it is.  Would you please work on a fix?  I'd gladly review it.

[2019-12-16 10:21] wussup commented on #280
Ready, https://github.com/mapgears/ol3-google-maps/pull/281

[2019-12-17 13:11] adube commented on #280
Fixed by #281

[2019-12-17 13:11] #280 closed, assigned to nobody

[2019-12-18 20:51] mstenta commented on #37
Issue 1 described above was fixed with https://github.com/mapgears/ol3-google-maps/pull/259

So it's just issues 2 (google layers in a layer group) and 3 (feature visibility sync) that remain on this (unless others are discovered).

[2019-12-18 21:33] mstenta opened #282 "Support for OpenLayer 6+"
OpenLayers 6 removes the `LayerType.js` file that we reference in `src/olgm/layer/Google.js`: https://github.com/mapgears/ol3-google-maps/blob/master/src/olgm/layer/Google.js#L4

This results in an error when using this with Webpack:

[code]

[2019-12-18 21:36] mstenta commented on #282
The update required for this is pretty simple. I will open a PR.

This raises a question though: how do we want to handle the OL version compatibility in `package.json`. Currently it is:

`"ol": "^5.0.0 || ^4.0.0"`

I think we'll want to either add `^6.0.0` to that, or replace it entirely. However, I'm not sure if the change we need to make for 6 will be backwards compatible with 4 and 5.

[2019-12-18 21:39] mstenta commented on #282
FYI here is the commit that removes `LayerType.js` from OpenLayers upstream: https://github.com/openlayers/openlayers/commit/ca5b0c63a582687cd847658c7d503b73b1fd4eb4

[2019-12-18 21:44] mstenta commented on #282
Opened a PR that fixes the issue and adds `^6.0.0` to `package.json`: #283

[2019-12-18 21:48] mstenta commented on #282
There might be more to this... Travis tests on that PR failed. And I'm getting this error in console when I try to switch to a Google layer: `TypeError: layerRenderer is null`

[2019-12-19 13:42] adube commented on #282
Just for the record, I agree with switching to 6.0.0 entirely.

[2019-12-19 14:55] mstenta commented on #282
Thanks @adube! That will make it easier.

[2019-12-19 16:50] mstenta commented on #282
Getting closer...

I traced the failing tests to the following condition in `activateGoogleMaps_()` in `src/olgm/herald/Layers.js`:

[code]

Specifically, it's the presence of the `!this.ol3mapIsRenderered_` that causes the tests to fail. Removing that middle condition allows the tests to pass.

It looks like `!this.ol3mapIsRenderered_` is being set by this block of code in the constructor of the

[2019-12-19 18:24] mstenta commented on #282
Decided to dig into this first, and traced it to the fact that the layer type was removed, which meant OpenLayers didn't know what layer renderer to use. I was able to fix it by adding a `createRenderer` method to the `GoogleLayer` class, which I copied directly from the `TileLayer` class: https://github.com/openlayers/openlayers/blob/v6.1.1/src/ol/layer/Tile.js#L32

So then, instead of doing that

[2019-12-19 18:30] mstenta commented on #282
Force pushed my `ol6` branch to include the `TileLayer` change and break up the commits.

Now back to the failing tests...

[2019-12-19 18:50] mstenta commented on #282
Oh! Switching to `TileLayer` fixed the failing tests too! :tada:

So I think this is ready for review!

PR: #283

[2019-12-19 19:04] mstenta commented on #37
Huh. Interesting... I'm working on adding support for OL6+ (#282 ), and in my testing it appears that issue number 3 described above (feature visibility sync) is no longer an issue! I'm not able to replicate it any more.

[2019-12-20 20:04] mstenta opened #285 "Google layers do not work in a layer group"
Broke this out into a separate issue from #37

[2019-12-20 20:06] mstenta commented on #37
I split the "issue 2" described above out to #285 - it is not specifically related to ol3-layerswitcher compatibility, so it doesn't need to be solved in this issue.

Think that means we can close this issue!

[2019-12-20 20:10] mstenta commented on #285
I've spent some time investigating this, and I think I have a pretty good sense of where changes will be needed in the code to support this.

Basically, the library currently assumes that Google layers will *not* be nested inside a layer group.  So it only works when they are not nested.

Here are links to specific sections of code that I think need to be updated:

https://github.com/mapgears/ol3-

[2019-12-23 13:34] adube commented on #37
Indeed we can.  Thank you for the details!

[2019-12-23 13:34] #37 closed, assigned to nobody

[2020-01-03 22:07] mstenta commented on #52
Is it possible right now to display OL-rendered clusters on top of the Google layers?

[2020-01-04 15:47] mstenta commented on #285
I made some progress on this before the holidays. I will commit my work to a new branch and open a pull request soon. I have Google layers working in layer groups, but there is still a bit more to do before this is "complete" and ready for review/merge. More soon...

[2020-01-04 15:49] mstenta opened #287 "Restore ol-layerswitcher example"
Now that #37 is resolved, I think we can restore the layerswitcher example that used to be included in this library. It was "archived" (moved to `examples/archived`) back in August 2018 with this commit: https://github.com/mapgears/ol3-google-maps/commit/cc62e0e8e9a848fe44bde8799812471467e28c56

I have it working again and will open a PR shortly...

[2020-01-04 16:49] mstenta commented on #287
Here is a pull request ready for review: https://github.com/mapgears/ol3-google-maps/pull/288

It updates to the latest version of `ol-layerswitcher`. It also adds the layerswitcher CSS to the example. In order to do this, I needed to add `css-loader` and `style-loader` packages so that I could use `import` to add CSS.

[2020-01-04 17:37] mstenta commented on #285
Pushed my work-in-progress to a new fork branch: https://github.com/mapgears/ol3-google-maps/compare/master...mstenta:layergroup

I made two changes, and now Google Maps layers are working inside a layer group:

- In `watchLayer_()` and `unwatchLayer_()` I added an `else if` to check if the layer is a `LayerGroup`. If so, it will recurse into it and run the watch/unwatch function on each layer wit

[2020-01-04 18:44] mstenta commented on #52
I discovered that I can use OpenLayers cluster rendering by telling OLGoogleMaps to not watch vector layers:

[code]

[2020-01-04 18:52] mstenta commented on #285
I ran into some issues testing this with vector layers. Seeing the following error in console when I switch between Google and non-Google base layers:

`TypeError: this.cache_[index] is undefined` coming from `unwatchFeature_()` in `herald/VectorFeature.js`.

I discovered that I can work around this by telling OLGoogleMaps NOT to watch vector layers, which also lets me use clusters (https://github

[2020-01-06 13:23] adube commented on #287
Fixed in #288

[2020-01-06 13:23] #287 closed, assigned to nobody

[2020-01-06 13:25] adube commented on #52
That is currently the only way to achieve clusters with OLGM: by letting OpenLayers render the vector features instead of Google Maps.

[2020-01-06 13:31] adube commented on #285
Is there a way to reproduce the error you're describing using one of the current examples?

[2020-01-06 13:57] mstenta commented on #285
I do have a commit in my fork that modifies the (newly restored) layer switcher example and puts the two layers into a layer group: https://github.com/mapgears/ol3-google-maps/commit/2c8442808d693f673be07f793041d839ed47bf74

If you add a vector layer to that I think you should see the error.

[2020-01-06 14:23] adube commented on #285
Okay, let me know if I understood the issue correctly: if a vector layer is added in a group, then an error gets thrown while enabling/disabling OLGM.  Is that correct?

[2020-01-06 14:44] mstenta commented on #285
There are actually three things I'm aware of that need to be addressed for this issue. See [this comment](https://github.com/mapgears/ol3-google-maps/issues/285#issuecomment-570804165) for the first 2. The third is the `VectorFeature` error.

Yes, I believe that's correct.

[2020-01-06 15:17] mstenta commented on #216
I think I know what's causing this - I ran into a similar issue a while back (and again now that I'm refactoring our map code). Originally reported in the farmOS issue queue in 2015 here: https://www.drupal.org/project/farm_area/issues/2546306

Summary of the issue:

To put it another way: OpenLayers lets you keep zooming in, but the Google layer stops zooming when it reaches it's own maximum. So

[2020-01-06 16:08] mstenta commented on #216
Here is a screen recording of the issue. It was a challenge to make a GIF less than 10mb (Github limit) so it's very short. But it shows zooming in on a vector feature over the Google Hybrid layer. Watch how the Google layer stops zooming but the vector layer keeps zooming.

![GIFrecord_2020-01-06_110535](https://user-images.githubusercontent.com/95381/71830437-bb018500-3074-11ea-8166-99861414309f

[2020-01-06 16:10] mstenta commented on #216
I'm not sure if I'll be able to use the same workaround I used in my old code with the new ol3-google-maps library. Seems like it would need to be in the ol3-google-maps library itself in order to have access to `gmap` object.

Is this something that would be worth providing as a pull request? Or is it too much of a hack?

[2020-01-06 16:11] mstenta commented on #216
I also found this: https://developers.google.com/maps/documentation/javascript/maxzoom

Google Maps has an API to get the max zoom level at a given lat/lon (because it varies based on location). I wonder if we could use that and limit the max zoom of the layer accordingly. Seems complicated...

[2020-01-06 16:15] mstenta commented on #216
I hope I didn't hijack this issue. Reading the original description now I'm wondering if it's not the same. Sorry @guyBy - does this sound like the issue you were reporting?

[2020-01-06 16:58] adube commented on #216
@mstenta I had a similar issue in the past, but I was only dealing with OpenLayers.  I had 2 base layers (only one of them could be active at a time), and both had different maximum zoom levels and I wanted to provide a way to prevent zoomin it onto a level that didn't exist, and also when switching from one baselayer to an other I wanted to zoom out automatically, if needed.

I wanted to let Open

[2020-01-06 19:51] mstenta commented on #216
Thanks for sharing that @adube - very helpful! I agree it seems that this is just something that needs to be solved on a per-project basis for now. If it can be made more general in `ol-ext` that would be great too! Thank you for sharing that - first time I've seen it!

I am right now working to refactor my previous hack to work with `ol3-google-maps`, so I'll share the code snippet here when I ge

[2020-01-16 13:29] adube opened #289 "Release v1.6.0"
Package a new release of OLGM.  Will include this PR:

 * #283

Should be done this weekend.

[2020-01-18 12:12] adube commented on #282
#283 has been merged. OL6 is now supported.  Thanks a lot @mstenta for taking care of this.

[2020-01-18 12:12] #282 closed, assigned to nobody

[2020-01-18 12:41] adube commented on #289
Done.

[2020-01-18 12:41] #289 closed, assigned to nobody

[2020-01-18 12:45] adube opened #290 "Some tests are failing"
Some tests are failing now.  This is not due to the code itself, as I tried with previous versions and the same errors occur.  Something happened with our dependencies, I suspect.  Investigate.

Here's one example of a failing test:

[code]

[2020-01-20 18:50] mstenta commented on #216
See below for the workaround I'm using. See comments in code for explanation.

Limitations:

- It changes the `MapTypeId` to `roadmap` when it's zoomed beyond Google's limit. This still has the same problem, but compared to `satellite` it makes a big if you are trying to draw features. So this isn't the perfect solution, but it helps. If there is a better way, please share!

Variables that were de

[2020-01-22 08:55] HKBULIB opened #292 "Cannot show the satellite image properly"
Only a small square of the satellite image is shown.  What is the problem?

URL:
http://digital.lib.hkbu.edu.hk:3000/

[2020-01-22 13:12] adube commented on #292
Have you tried setting an API key?

https://developers.google.com/maps/documentation/javascript/get-api-key

[2020-01-22 13:15] adube commented on #292
No, that's not it.  Resizing the browser window solves the issue.

Are you using the latest version of OLGM?  If not, try to upgrade to see if it solves the issue.  Otherwise, this is a bug.

[2020-01-23 02:16] HKBULIB commented on #292
Thank you for your reply.  I will try to use the latest version of OLGM.  Hope this issue can be solved.

[2020-01-23 08:21] HKBULIB commented on #292
// Ol3-Google-Maps. See https://github.com/mapgears/ol3-google-maps/
// License: https://github.com/mapgears/ol3-google-maps/blob/master/LICENSE
// Version: v0.20.0

We try to use version v0.20.0 of ol3gm.js, but the issue still exists.  Thank you for your attention.

URL
http://digital.lib.hkbu.edu.hk:3000/

[2020-01-23 13:12] adube commented on #292
The version 0.20.0 is the last version that provided a bundle, but it's not the latest version.  See:

https://github.com/mapgears/ol3-google-maps/releases

OLGM no longer provides a bundle.  Read more about it here and how to use the latest version:

https://github.com/mapgears/ol3-google-maps/pull/257#issuecomment-530824025

HTH

[2020-01-27 18:15] martinmcneela opened #293 "Vector layer and Google layer position on pan"
I have a very simple example built using react and using olgm. The example uses a piece of state to toggle the visibility of an Open Street Map layer and a Google layer. Along-side these two layers is a vector feature layer with a polygon drawn on it (over Trafalgar square) the should always be visible. With the Google layer visible (and the watchers set to true), the feature does not appear on th

[2020-01-28 11:43] martinmcneela commented on #293
Ok doing a little more digging around with this one I have created another sandbox, removing react from the equation. In the sandbox, `index.js` uses the projection `EPSG:27700` and DOES the issue outlined above, `index2.js` uses the Openlayers default projection and DOES NOT have the issue outlined above.

https://codesandbox.io/s/openlayers-5-google-layer-iqwqb (again the Google maps key will ne

[2020-01-28 13:28] adube commented on #293
Hello @martinmcneela

When using Google Maps, you have to use the Mercator projection (i.e. EPSG:3857), which is also the one used by default in OpenLayers.  The map tiles provided by Google Maps use that projection and there's no way to use any other ones.

HTH